<section>
    <div class="container  topSpace privacy-policy">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h3 class="text-center mb-4">Terms of Service</h3>
                <ul>
                    <li>This Terms of Service has been updated as of December 24th, 2020 and will be
                        effective as of June 15th, 2021.</li><br/>
                    <li>By using Attalla Digital Website.com website and all services of Feso Social Media Pvt Ltd, you are
                        agreeing to be bound by the following terms and conditions (“Terms of Service”).</li><br/>
                    <li>Attalla Digital Website.com reserves the right to update and change the Terms of Service from time to time
                        without notice. Any new features that augment or enhance the current Service, including the release of
                        new resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute
                        your consent to such changes.</li><br/>
                    <li>Violation of any of the terms below will result in the termination of your account. You
                        agree to use the Service at your own risk.</li>
                </ul>

            </div>
        </div>
       
    </div>
</section>