<!-- portfolio banner -->
<section class="mt-5">
    <div class="portfolio portfolio-space sectionSpace ">
        <div class="portfolioInner">
            <div class="text-center mb-5">
                <span class="sub-text">OUR WORK</span>
                <h2 class="sec-heading after-border text-black">Portfolio</h2>
                <p>How have we helped our partners in the past? (Case study)</p>
            </div>
            <ul class="nav nav-pills mb-5 justify-content-center mob-nav-ul" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-category1" role="tab"
                        aria-controls="pills-home" aria-selected="true">Web & Apps</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-website" data-toggle="pill" href="#pills-category2" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Website</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-mobile" data-toggle="pill" href="#pills-category3" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Mobile Apps</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-iot" data-toggle="pill" href="#pills-category4" role="tab"
                        aria-controls="pills-contact" aria-selected="false">IoT</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-category1" role="tabpanel"
                    aria-labelledby="pills-category1">
                    <div class="your-class">
                        <div>
                            <div class="row flex-row-reverse bg-lite">
                                <div class="col-lg-6 bg-kc text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex  align-items-center mb-4">
                                            <img src="../../../assets/images/portfolio/kc_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Kctickets.online</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazon of events services & tickets
                                                    booking.
                                                    This platform enables you to find the varieties of events such as
                                                    movies, shows, concerts, rallies, fundraiser, convention, classes,
                                                    dance, festival, party, seminar, social gatherings, etc happening
                                                    around
                                                    your city or any city of your choice. At the same time, it enables
                                                    the
                                                    event organizers to list their events on the platform and increase
                                                    their
                                                    discoverability that eventually leads to more sales.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">The client already had a successful website but he
                                                    wanted to refurbish this with modern technology, beautiful looking
                                                    UI,
                                                    fast loading web pages, friendly user interface and a platform that
                                                    can
                                                    handle large traffics without much hassle. It’s always difficult to
                                                    migrate a project from a legacy technology to modern but our team
                                                    did a
                                                    great job in turning this around. Within 6 weeks our team has built
                                                    the
                                                    entire website from scratch, migrated the user base and launched the
                                                    website without any breakdowns.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>A Vendor Portal</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  align-self-center py-5">
                                    <div class="tabImg">
                                        <img src="../../../assets/images/portfolio/kctickets.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-category2" role="tabpanel" aria-labelledby="pills-category2">
                    <div class="your-class">
                        <div>
                            <div class="row flex-row-reverse bg-light">
                                <div class="col-lg-6 bg-pharma text-white section py-5 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/img/pharmasave.png" height="30px">

                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s a one stop shop for all your travel needs. It
                                                    provides full-cycle travel services from best trip recommendations
                                                    to
                                                    ticket booking, hotel bookings, travel bookings and trip guides.
                                                    It’s a
                                                    marketplace as well and enables trip guides, hotels, travel agencies
                                                    to
                                                    list their services on the platform and increase the reach of their
                                                    services.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">Mr Khor was veteran of the travel industry and he
                                                    knows that industry has been plagued with lots of middlemen,
                                                    inefficiencies and price disparities while looking at the
                                                    millennials
                                                    wander lust he sees an opportunity in all this chaos. He wanted to
                                                    create a platform that will ease the life of a traveler, enables
                                                    transparency, ensures safety and encourages people to travel more.
                                                    At
                                                    the same time he wanted the local people to also benefit by
                                                    increasing
                                                    the discoverability of their services and boost their incomes. Our
                                                    brilliant tech architects helped him figure out a perfect solution
                                                    that
                                                    catered extremely well to his requirements and he was very elated
                                                    looking at the final product.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>A Vendor Portal</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class="tabImg">
                                        <img src="../../../assets/img/pharmsave.png" data-color="#ff0000" id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row bg-lite">
                                <div class="col-lg-6 bg-way text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/images/portfolio/way_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Way.com</h5>
                                                <p class="font-small mb-0">Find The Right Local Pro For Everything You
                                                    Need
                                                    Done</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that
                                                    enables you to explore the best services & deals in the city be it
                                                    events, movie tickets, dining places, hassle-free parking spots,
                                                    etc.
                                                    Way.com provides an opportunity for homeowners, parking lots to list
                                                    their services frictionless on the platform & enjoy the increased
                                                    sales
                                                    & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was
                                                    very excited about the idea but very confused as well as how this
                                                    will
                                                    be put into shape. Our talented team of consultants, architects
                                                    analyzed
                                                    this idea deeply and after due deliberation they have finally come
                                                    up
                                                    with this wonderful UI and a solid tech architecture that ensures
                                                    the
                                                    speed, smoothness and scalability of this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class=" tabImg">
                                        <img src="../../../assets/images/portfolio/way.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- <div class="row flex-row-reverse bg-lite">
                                <div class="col-lg-6 bg-trip text-white section py-5 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/images/portfolio/tripbonder_logo.png"
                                                height="60px">
                                            <div class="ml-3">
                                                <h5>Tripbonder.com</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s a one stop shop for all your travel needs. It
                                                    provides full-cycle travel services from best trip recommendations
                                                    to
                                                    ticket booking, hotel bookings, travel bookings and trip guides.
                                                    It’s a
                                                    marketplace as well and enables trip guides, hotels, travel agencies
                                                    to
                                                    list their services on the platform and increase the reach of their
                                                    services.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">Mr Khor was veteran of the travel industry and he
                                                    knows that industry has been plagued with lots of middlemen,
                                                    inefficiencies and price disparities while looking at the
                                                    millennials
                                                    wander lust he sees an opportunity in all this chaos. He wanted to
                                                    create a platform that will ease the life of a traveler, enables
                                                    transparency, ensures safety and encourages people to travel more.
                                                    At
                                                    the same time he wanted the local people to also benefit by
                                                    increasing
                                                    the discoverability of their services and boost their incomes. Our
                                                    brilliant tech architects helped him figure out a perfect solution
                                                    that
                                                    catered extremely well to his requirements and he was very elated
                                                    looking at the final product.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>A Vendor Portal</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class="tabImg">
                                        <img src="../../../assets/images/portfolio/tripbonder.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-category3" role="tabpanel" aria-labelledby="pills-category3">
                    <div class="your-class">
                        <div>
                            <div class="row bg-lite">
                                <div class="col-lg-6 bg-eve text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/images/portfolio/myeve_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Myeve.com</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that
                                                    enables you to explore the best services & deals in the city be it
                                                    events, movie tickets, dining places, hassle-free parking spots,
                                                    etc.
                                                    Way.com provides an opportunity for homeowners, parking lots to list
                                                    their services frictionless on the platform & enjoy the increased
                                                    sales
                                                    & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was
                                                    very excited about the idea but very confused as well as how this
                                                    will
                                                    be put into shape. Our talented team of consultants, architects
                                                    analyzed
                                                    this idea deeply and after due deliberation they have finally come
                                                    up
                                                    with this wonderful UI and a solid tech architecture that ensures
                                                    the
                                                    speed, smoothness and scalability of this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class="tabImg">
                                        <img src="../../../assets/images/portfolio/myeve.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="your-class">
                        <!--
                        <div>
                            <div class="row flex-row-reverse bg-light">
                                <div class="col-lg-6 bg-traxi text-white section py-5 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/img/the_traxi_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>The Traxi</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that enables you to explore the best services & deals in the city be
                                                    it events, movie tickets, dining places, hassle-free parking spots,
                                                    etc. Way.com provides an opportunity for homeowners, parking lots to
                                                    list their services frictionless on the platform & enjoy the
                                                    increased sales & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was very excited about the idea but very confused as well as how
                                                    this will be put into shape. Our talented team of consultants,
                                                    architects analyzed this idea deeply and after due deliberation they
                                                    have finally come up with this wonderful UI and a solid tech
                                                    architecture that ensures the speed, smoothness and scalability of
                                                    this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>

                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class="tabImg">
                                        <img src="../../../assets/img/the_traxi.png" data-color="#ff0000" id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row bg-lite">
                                <div class="col-lg-6 bg-pocket text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/img/pocket_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Pocket Studio</h5>

                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that enables you to explore the best services & deals in the city be
                                                    it events, movie tickets, dining places, hassle-free parking spots,
                                                    etc. Way.com provides an opportunity for homeowners, parking lots to
                                                    list their services frictionless on the platform & enjoy the
                                                    increased sales & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was very excited about the idea but very confused as well as how
                                                    this will be put into shape. Our talented team of consultants,
                                                    architects analyzed this idea deeply and after due deliberation they
                                                    have finally come up with this wonderful UI and a solid tech
                                                    architecture that ensures the speed, smoothness and scalability of
                                                    this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class=" tabImg">
                                        <img src="../../../assets/img/pocketstudio.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div>
                            <div class="row flex-row-reverse bg-lite">
                                <div class="col-lg-6 bg-stream text-white section py-5 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/img/streamwise_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Streamwise</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that enables you to explore the best services & deals in the city be
                                                    it events, movie tickets, dining places, hassle-free parking spots,
                                                    etc. Way.com provides an opportunity for homeowners, parking lots to
                                                    list their services frictionless on the platform & enjoy the
                                                    increased sales & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was very excited about the idea but very confused as well as how
                                                    this will be put into shape. Our talented team of consultants,
                                                    architects analyzed this idea deeply and after due deliberation they
                                                    have finally come up with this wonderful UI and a solid tech
                                                    architecture that ensures the speed, smoothness and scalability of
                                                    this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>A Vendor Portal</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class="tabImg">
                                        <img src="../../../assets/img/streamwise.png" data-color="#ff0000" id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div>
                            <div class="row bg-lite">
                                <div class="col-lg-6 bg-stockware text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/img/stockware_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>Stockware</h5>

                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">It’s an amazing one-in all service marketplace
                                                    that enables you to explore the best services & deals in the city be
                                                    it events, movie tickets, dining places, hassle-free parking spots,
                                                    etc. Way.com provides an opportunity for homeowners, parking lots to
                                                    list their services frictionless on the platform & enjoy the
                                                    increased sales & traction.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">When the client first came to us with this idea he
                                                    was very excited about the idea but very confused as well as how
                                                    this will be put into shape. Our talented team of consultants,
                                                    architects analyzed this idea deeply and after due deliberation they
                                                    have finally come up with this wonderful UI and a solid tech
                                                    architecture that ensures the speed, smoothness and scalability of
                                                    this website.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>An Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  bg-lite py-5 align-self-center">
                                    <div class=" tabImg">
                                        <img src="../../../assets/img/stockware.png" data-color="#ff0000" id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-category4" role="tabpanel" aria-labelledby="pills-category3">
                    <div class="your-class">
                        <div>
                            <div class="row flex-row-reverse bg-lite">
                                <div class="col-lg-6 bg-iotech text-white section py-4 py-sm-5">
                                    <div class="col-md-9 px-4 px-md-0 mx-auto">
                                        <div class="d-flex align-items-center mb-4">
                                            <img src="../../../assets/images/portfolio/iotech_logo.png" height="60px">
                                            <div class="ml-3">
                                                <h5>IOTech</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Overview</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">IoTech is the leading service & infra provider for
                                                    automated monitoring solutions for the warehouses, farms,
                                                    manufacturing
                                                    plants, inventory and employees. The monitoring solutions are driven
                                                    by
                                                    embedded IoT devices at the location that continuously push data to
                                                    the
                                                    server and a solid infrastructure at the backend that store, process
                                                    and
                                                    analyze the data for the management. An interactive dashboard helps
                                                    with
                                                    KPIs, actionable insights & reporting and mobile apps for easy
                                                    controls,
                                                    alerts & notifications.</p>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <h6 class=" font-bold">Our Role</h6>
                                            </div>
                                            <div class="col-md-12">
                                                <p class="font-small">Our client has been a leading provider of
                                                    monitoring
                                                    solutions for farms in Nigeria and they wanted to expand their
                                                    operations to other verticals. So, we built a robust technology
                                                    enabled
                                                    product with embedded IoT devices at the site and a data rich
                                                    platform
                                                    at the backend that ensures reliable data collection, interactive
                                                    dashboard for KPIs and a SaaS architecture that enabled him to plug
                                                    &
                                                    play and distribute the solution to others as well.</p>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Tech Stack</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>Frontend: Angular 8, HTML, CSS</li>
                                                    <li>Backend: Node JS</li>
                                                    <li>Database: MySQL</li>
                                                    <li>Frontend: Protocol: MQTT</li>
                                                    <li>Cloud: AWS</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class=" font-bold">Deliverables</h6>
                                                <ul class="list-unstyled font-small">
                                                    <li>A Website</li>
                                                    <li>A Landing Page</li>
                                                    <li>A Dashboard</li>
                                                    <li>A Master Admin Panel</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6  align-self-center py-5">
                                    <div class="tabImg">
                                        <img src="../../../assets/images/portfolio/iotech.png" data-color="#ff0000"
                                            id="qwerty">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

