<section class="banner demo">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="free-demo text-lg-start text-center">
                        <h2>SKYROCKET YOUR <br />AGENCY WITH THE ONLY <span> NANNY MANAGEMENT SOFTWARE</span> YOU
                            WILL NEED.</h2>
                        <p>Advanced mobile nanny management software saves your time, increases your profits, and
                            gives parents peace of mind.</p>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-3" type="submit">BOOK
                            FREE
                            DEMO</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-imagee position-relative">
                    <img class="w-100" src="../../../assets/gonanny/circle_banner.webp" alt="circle_banner" />
                    <img class="w-100 position-absolute postion-imagesss" src="../../../assets/gonanny/banner.webp"
                        alt="circle_banner" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="injoy-video pt-lg-5 mt-lg-5 mb-lg-5 pb-lg-5 mt-5 pt-2 mb-5 pb-4">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="job text-lg-start text-center">
                    <h4 class="job-heding">START MAKING YOUR JOB EASY AND ENJOYABLE</h4>
                    <div class="li-list">
                        <ul class="list-dotedd ps-lg-3">
                            <li>Matching candidates with families will be easier than ever with our intuitive
                                software.</li>
                            <li>Excellent check-in and check-out system to know how to accurately invoice your
                                clients.</li>
                            <li>Advanced job posting system allowing you to connect your client with the best
                                available nanny based on distance and availability.</li>
                            <li>Give your clients peace of mind by letting them choose between qualified nannies
                                with extensive Nanny profiles and reviews page.</li>
                            <li>Beautifully designed white-label portals for families and nannies to let them
                                interact directly with your agency.</li>
                            <li>Easy to use admin panel giving you an excellent overview of your agency’s
                                performance.</li>
                        </ul>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-2 mt-lg-3" type="submit">BOOK
                            FREE
                            DEMO</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div
                    class="video-circle d-flex justify-content-lg-end justify-content-center align-items-center h-100 position-relative text-center mt-lg-0 mt-4 ">
                    <!-- <img class="paly-video" src="../../../assets/gonanny/video_image.webp" alt="video-image">
                    <img class="position-absolute border-img" src="../../../assets/gonanny/border.webp" alt="border"> -->
                    <video controls autoplay>
                        <source src="../../../assets/gonanny/nanny2.mp4" type="video/mp4">
                        <source src="../../../assets/gonanny/nanny2.mp4" type="video/ogg">
                      </video>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mobile-laptop pt-lg-5 pb-sm-5">
    <div class="container-lg">
        <div class="peraghraph-heding text-center pb-4 pb-lg-0">
            <p class="red-font">COMPREHENSIVE TECH-SUITE TO LAUNCH. RUN. GROW</p>
            <h4 class="job-heding">TURN YOUR BUSINESS INTO A SMOOTH-RUNNING, <br />WELL-OILED MACHINE</h4>
            <p class="mb-2 mt-2">Do you need the hiring process in your company to become more streamlined and
                efficient? We are here to help.</p>
            <p>This is the end of filling out paperwork and entering data - and the beginning of beautiful and
                easy-to-use nanny <br /> management software, that comes with everything you need to connect the
                perfect nanny to your clients.</p>
        </div>
        <div class="mt-lg-5 pt-2 pb-4">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-mobile text-center">
                        <img src="../../../assets/gonanny/mobile_left.webp" alt="mobile-left">
                        <h5 class="mb-0 mt-lg-4 mt-2">Mobile apps for</h5>
                        <h5 class="red-font">Parents</h5>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-2" type="submit">BOOK
                            FREE
                            DEMO</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="center-image text-center">
                        <img src="../../../assets/gonanny/laptop.webp" alt="laptop-left">
                        <div class="laptop-ownerr">
                        <h5 class="mb-0 mt-lg-4 red-font mt-3">Admin Portal</h5>
                        <h5 class="">for Product Owner</h5>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-2" type="submit">BOOK
                            FREE
                            DEMO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="left-mobile text-center pb-0">
                        <img src="../../../assets/gonanny/mobile_left.webp" alt="mobile-left">
                        <h5 class="mb-0 mt-lg-4 mt-2">Mobile apps for</h5>
                        <h5 class="red-font">Nannies</h5>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-2" type="submit">BOOK
                            FREE
                            DEMO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="duration mt-5 pt-lg-5">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="dubble-mobile text-center">
                    <img src="../../../assets/gonanny/dual_mobile.webp" alt="dual-mobile">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex justify-content-lg-start justify-content-center text-center text-lg-start align-items-center h-100">
                    <div class="tailored">
                        <h4 class="job-heding">CHOOSE THE APP THAT'S <span>TAILORED</span> TO YOUR NEEDS</h4>
                        <p>Attalla Digital's Nanny Management Software is custom-built and tailored to your agency's
                            unique needs. No more using one-size-fits-all software that doesn't fit your business.
                        </p>
                        <p>Add your branding and make the app represent your own business. Choose from customizable
                            pricing structures, cancellation policies, and add or remove features that you need to
                            run
                            your business as efficiently as possible. The possibilities are endless.</p>
                        <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-3" type="submit">BOOK
                            FREE
                            DEMO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="saving-claculater pt-lg-5 pb-lg-5 pt-5 pb-5">
    <div class="container-lg">
        <div class="peraghraph-heding text-center">
            <h4 class="job-heding">ENJOY AN ALMOST FULLY AUTOMATED <br /> & SUCCESSFUL AGENCY</h4>
            <p class="mb-2 mt-4">Attalla Digital's Nanny Management Software does all of the heavy liftings for you:
                temporary jobs get booked in minutes, service fees are automatically collected and deposited
                directly in your bank account.</p>
            <p>That means you can spend less time doing paperwork and more time growing your business, making the
                world a happier place, one child at a time.</p>
        </div>
        <div class="row">
            <div class="calculate-heding mt-5 pt-4 text-center text-lg-start">
                <h5 class="mb-2">Saving Calculator</h5>
                <p>Calculate how much time and money you are saving by using Nanny Management App</p>
            </div>
            <div class="admin-horse">
                <div class="enter-hors py-3 px-4 mb-1 d-lg-flex justify-content-lg-between align-items-lg-center text-center text-lg-start">
                    <p class="mb-0">Admin hours per week (Checking Nanny Availability, Client Enquiries, Roster
                        Management,
                        Hiring, Etc)</p>
                    <input class="shadow-none" type="text" placeholder="Enter hours" />
                </div>
                <div class="enter-hors py-3 px-4 mb-1 d-lg-flex justify-content-lg-between align-items-lg-center text-center text-lg-start">
                    <p class="mb-0">Admin hours per week (Checking Nanny Availability, Client Enquiries, Roster
                        Management,
                        Hiring, Etc)</p>
                    <input class="shadow-none fw-bold text-dark" type="text" placeholder="$75" />
                </div>
                <div class="par-year py-3 px-4 d-lg-flex justify-content-between align-items-center">
                    <h5>Total Savings Per Year</h5>
                    <div class="doller-horse">
                        <p class="mb-0"><strong>15 hours x $75 x 52 Weeks =</strong></p>
                        <h5 class="dollerrrs">$58,500</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="solution mb-lg-5 pt-lg-5 pb-lg-5 mb-5 pb-4">
    <div class="container-lg">
        <div class="peraghraph-heding text-center mb-5">
            <p class="red-font">YOU DON'T NEED ANOTHER OFF-THE-SHELF SOLUTION</p>
            <h4 class="job-heding">WHAT WE OFFER TO YOU</h4>
            <p>You need a piece of software that's tailored to your business and its requirements, not the other way
                around</p>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="boxx pb-2">
                    <div class="nany-box d-flex justify-content-between align-items-center py-3 px-3">
                        <img src="../../../assets/gonanny/one.webp" alt="one">
                        <h5 class="mb-0">01</h5>
                    </div>
                    <p class="px-4">Customizable software according to your business requirements.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="boxxx-two  pb-2">
                    <div class="nany-box d-flex justify-content-between align-items-center py-3 px-3">
                        <img src="../../../assets/gonanny/two.webp" alt="one">
                        <h5 class="mb-0">02</h5>
                    </div>
                    <p class="px-4">Customizable software according to your business requirements.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="boxxx-threee pb-2">
                    <div class="nany-box d-flex justify-content-between align-items-center py-3 px-3">
                        <img src="../../../assets/gonanny/three.webp" alt="one">
                        <h5 class="mb-0">03</h5>
                    </div>
                    <p class="px-4">Customizable software according to your business requirements.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="boxxx-four pb-2">
                    <div class="nany-box d-flex justify-content-between align-items-center py-3 px-3">
                        <img src="../../../assets/gonanny/four.webp" alt="one">
                        <h5 class="mb-0">04</h5>
                    </div>
                    <p class="px-4">Customizable software according to your business requirements.</p>
                </div>
            </div>
            <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-4" type="submit">
                FREE LIVE DEMO
            </button>
        </div>
    </div>
</section>
<section class="agency mb-lg-5 pb-lg-5">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <div class="border-image">
                    <img src="../../../assets/gonanny/image.webp" alt="image-famely">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="agency-growth px-lg-5 pb-lg-5 px-3 pb-4">
                    <h5 class=" pt-lg-5 pt-4 text-center text-lg-start">INVEST IN YOUR AGENCY’S <br /> GROWTH</h5>
                    <p class="border-styiling text-center text-lg-left mb-2 mb-lg-0"></p>
                    <p class="">Start saving time, energy, and money by working on your agency and not just in it.
                        Get the
                        easy-to-use app that both the parents and the nannies will absolutely love.</p>
                    <button class="btn shadow-none px-3 py-1 mt-3 bg-white " type="submit">
                        BOOK FREE DEMO
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us mt-lg-5 ">
    <div class="container-lg">
        <div class="management">
                <h5 class="text-center">CONTACT US</h5>
                <p class="text-center mb-4 pb-2">You are only 1st step away from the best <strong>Nanny Management System</strong>
                    for your agency</p>
                    <div class="inner-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="inputs-content mb-4 mb-lg-0">
                            <div class="input-group mb-4">
                                <label class="w-100 pb-2" for="">Full name</label>
                                <input type="text" class="form-control shadow-none border-0"
                                    placeholder="Enter full name" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-4">
                                <label class="w-100 pb-2" for="">Mobile number</label>
                                <span class="input-group-text border-0" id="addon-wrapping">+1 <i
                                        class="fal fa-angle-down ms-2"></i></span>
                                <input type="text" class="form-control shadow-none border-0  border-start"
                                    placeholder="Enter mobile number" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-4">
                                <label class="w-100 pb-2" for="">How many Nannies do you have in your agency?</label>
                                <input type="text" class="form-control shadow-none border-0"
                                    placeholder="Enter number of nannies" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <!-- <p>Are you startup?</p> -->
                            <div class="form-check ps-0">
                                <label class="w-100 mb-lg-4 mb-2" for="">Are you startup?</label>
                                <input class="form-check-input1 me-1" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <label class="form-check-label22" for="flexRadioDefault1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check ps-0">
                                <input class="form-check-input2 me-1" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="inputs-content ">
                            <div class="input-group mb-4">
                                <label class="w-100 pb-2" for="">Email address</label>
                                <input type="text" class="form-control shadow-none border-0"
                                    placeholder="Enter email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-4 mt-2">
                                <label class="w-100 pb-2" for="">Location of business</label>
                                <input type="text" class="form-control shadow-none border-0 "
                                    placeholder="Enter location" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-4">
                                <label class="w-100 pb-2" for="">How many parents do you have</label>
                                <input type="text" class="form-control shadow-none border-0"
                                    placeholder="Enter number of parents" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                    
                            <div class="form-check ps-0">
                                <label class="w-100 mb-lg-4 mb-2" for="">Do you have your branding, pricing and cancellation policy ready?</label>
                                <input class="form-check-input1 me-1" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <label class="form-check-label22" for="flexRadioDefault1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check ps-0">
                                <input class="form-check-input2 me-1" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w=-100 text-center mt-4">
                <button class="btn text-white shadow-none primery-buttonn px-4 py-2 mt-4" type="submit">
                    FREE LIVE DEMO
                </button>
            </div>
            </div>
        </div>
    </div>
</section>