<section>
    <div class="heroCol topSpace">
        <div class="container">
            <div class="text-center mb-4">
                <h3 class="fw-bold">DIRECTOR INFO</h3>
            </div>
            <div class="director-card mb-4">
                <h4 class="fw-600 mb-3">Rimon Attalla</h4>
                <p>
                    Hi, I am the founder of Attalla Digital, a digital agency I started and grew over the last 4 years
                    to
                    help
                    Australian and International businesses develop innovative software solutions for their businesses.
                    Attalla
                    Digital started as a side hustle, and grew to be a one stop shop for entrepreneurs to get started on
                    their
                    ideas. From simple website design to complex IoT solutions, we do it all. Having extensive business,
                    contract,
                    and software experience, I personally manage all of Attalla Digital clients from initial project
                    discussions
                    to
                    final project delivery; offering in depth business insight and idea validation to help.
                </p>
                <p>
                    Looking for an experienced software developer but don’t want to be sold something you don’t need?
                    Stop
                    looking!
                    My passion is identifying exactly what your business or idea needs to be brought to life, no more
                    and no
                    less!
                    While it is possible to build your application on many different platforms, it might not be what
                    your
                    business
                    needs or what is best for your budget. At Attalla Digital, I help clients identify their MVP
                    (Minimum
                    Viable
                    Product) requirements to help save them thousands of dollars. Working along side the clients as
                    their
                    personal
                    Product Owner, I help them identify the main key features their software needs to deliver to achieve
                    fast
                    market
                    penetration.
                </p>
                <p>
                    Contact me via the contact form or on Whatsapp and we can start discussing your idea today, while
                    protecting
                    your intellectual property.
                </p>
                <b class="fw-600">Languages I speak: English, Arabic, Coptic, HTML, CSS, Javascipt, and
                    some
                    broken French.</b>
            </div>
            <div class="shadow p-3 mb-4">
                <h4 class="fw-600 mb-3">Gabriella Toghian</h4>
                <p>
                    Attalla Digital’s First lady, Gabriella Toghian, is the social media marketing Queen at Attalla
                    Digital.
                    With a
                    business degree in marketing and international trade, Gabriella is sharp and quick to identify great
                    marketing
                    opportunities for Attalla’s clients helping them grow their audience and their Instagram following.
                    Gabriella is
                    very good at identifying new trends early and works closely with our influencer clients to help
                    increase
                    their
                    engagement.
                </p>
                <b class="fw-600">Languages I speak: English, Arabic, Coptic, INSTAGRAM, INSTAGRAM, INSTAGRAM</b>
            </div>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary px-4 py-2" [routerLink]="['./../contact-us']">BACK TO
                    CONTACT US</button>
            </div>
        </div>
    </div>
</section>