<footer class="bg-light pt-5 social-icons">
    <a class="whats-app" href="https://api.whatsapp.com/send?phone=+61 430 742 202" target="_blank">
        <img src="../../../assets/images/whatsapp.svg" class="pr-2 social-icon w-100">
    </a>
    <div class="container">
        <div class="section-content">
            <div class="row justify-content-lg-between border-bottom pb-2">
                <div class="col-lg-auto col-md-4 my-4">
                    <div class="logo-bg">
                        <a (click)="openHome()">
                            <img class="logo w-100" src="../../../assets/home/logo.webp" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-auto col-md-4 mt-4">
                    <ul>
                        <li class="footer-item">
                            <h6 class="heading">Quick Links</h6>
                        </li>
                        <!-- <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../nft-marketplace-development']" (click)="openLink()">Nft</a>
                        </li> -->
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../services']" (click)="scrollHome()">Services</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" (click)="verticals()">Verticals</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" (click)="theProcess()">Process</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-auto col-md-4 mt-4">
                    <ul>
                        <li class="footer-item">
                            <h6 class="heading">About</h6>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../about-us']" (click)="scrollHome()">About Us</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../portfolio']"
                                (click)="scrollHome()">Portfolio</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../contact-us']" (click)="scrollHome()">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-auto col-md-4 mt-4">
                    <ul>
                        <li class="footer-item">
                            <h6 class="heading">Industries</h6>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" (click)="openIot()">Iot</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../marketplace']" (click)="openLink()">Web
                                Development</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link cursor-nodrop">Blockchain</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link cursor-nodrop">Mobiles Apps</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-auto col-md-4 mt-4">
                    <ul>
                        <li class="footer-item">
                            <h6 class="heading">Services</h6>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../app-development']" (click)="openLink()">App
                                Development</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link" [routerLink]="['./../marketplace']" (click)="openLink()">Websites
                                Development</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link cursor-nodrop">Digital Marketing</a>
                        </li>
                        <li class="footer-item">
                            <a class="footer-link cursor-nodrop">eCommerce Development</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h5 class="text-center">: : Contact Us : :</h5>
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-auto col-md-6 mt-4">
                    <div class="d-flex align-items-start">
                        <span class="call-img me-2"></span>
                        <a href="tel:+61 1300 709 345" class="contactDiv text-default">
                            +61-1300 709 345
                        </a>
                    </div>
                </div>
                <div class="col-lg-auto col-md-6 mt-4">
                    <a target="_blank" href="mailto:Rimon.attalla@outlook.com" class="d-flex align-items-center">
                        <span class="skype-img me-2"></span>
                        <span class="small-heading text-secondary">Skype</span>
                    </a>
                </div>
                <div class="col-lg-auto col-md-6 mt-4">
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+61430 742 202"
                        class="d-flex align-items-center">
                        <span class="whatsapp-img me-2"></span>
                        <span class="small-heading text-secondary">+61 430 742 202</span>
                    </a>
                </div>
                <div class="col-lg-auto col-md-6 mt-4">
                    <a href="mailto:rimon@attalla.com.au" target="_blank" class="d-flex align-items-center">
                        <span class="gmail-img me-2"></span>
                        <span class="small-heading text-secondary">rimon@attalla.com.au</span>
                    </a>
                </div>
                <div class="col-lg-auto col-md-6 mt-4">
                    <p class="small-heading text-secondary">Follow us on</p>
                    <div class="d-flex m-3 align-items-center">
                        <a href="https://www.facebook.com/AttallaDigital/" target="_blank"
                            class="s-icon me-3 socialIcons">
                            <img src="./../../../assets/facebook.png" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com/AttallaDigital/" target="_blank"
                            class="s-icon me-3 socialIcons">
                            <img src="./../../../assets/instagram.png" alt="instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="base-footer">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg my-2">
                    <span class="text-white">© {{currentYearLong()}} Attalla Digital. All Rights Reserved</span>
                </div>
                <div class="col-md-auto col-6 my-2">
                    <a class="text-white" [routerLink]="['./../terms-condition']">Terms & Conditions</a>
                </div>
                <div class="col-md-auto col-6 my-2">
                    <a class="text-white" [routerLink]="['./../privacy-policy']">Privacy Policy</a>
                </div>
                <div class="col-md-auto col-6 my-2">
                    <a class="text-white" [routerLink]="['./../careers']">Careers</a>
                </div>
            </div>
        </div>
    </div>
</footer>