<section>
    <div class="container topSpace privacy-policy mb-5">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Privacy Policy</h1>
                <h3>Introduction</h3>
                <p>
                    Attalla Digital is committed to protecting your privacy. This Privacy Policy applies to our website
                    (<a href="https://attalla.com.au/"
                        style="color: green;">https://attalla.com.au/</a>) and governs our data collection,
                    processing, and usage
                    practices. It also describes your choices on the use, access, and correction of your personal information.
                    If you do not agree with the data practices described in this Privacy Policy, you are not entitled to use
                    the Websites.
                    You are free to explore the websites without disclosing your personal information. When you visit the
                    website and complete the subscription or try to download any relevant content per your need, we request you
                    to provide your personal information. This helps us improve our services and streamline our marketing,
                    analytics, and site functionality.
                </p>
                <h4>Collection of Information from visitors</h4>
                <p>
                    When you visit our website, we automatically collect information about your operating system, browser, IP
                    address, geographical location, length of your visit, visit frequency, number of pages visited, call to
                    action, referral website, etc. We do not collect personal information unless you contact us or reach out to
                    us via contact form or online chat.
                </p>
                <h4>Intended use of information</h4>
                <p>
                    We collect the above information to augment the user experience, personalize the content, make the website
                    more useful or for possible retargeting. We never sell personal information submitted by you to 3rd parties
                    or any unauthorized usage. However, we might use your email to send you news about our services and
                    offerings, which can be easily unsubscribed by following the link shared at the bottom of the email.
                </p>
                <h4>Cookies</h4>
                <p>
                    Cookies are the small files stored on your web browser, which are being used to remember the user, their
                    preferences, etc., which results in improving the user experience. We ask for your consent before storing
                    cookies that you can refuse to, but this will lead to restricted access to the website. You can easily
                    delete the cookies anytime from your browser following the instructions shared on the following page
                    <a href="https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en"
                        style="color: green;">https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DDesktop&hl=en</a>
                </p>
                <h4>Contact Information</h4>
                <p>
                    We welcome your comments regarding this privacy statement at the contact address given on the website.
                    Should there be any concerns about contravention of this Privacy Policy, we will employ all commercially
                    reasonable efforts to address the same. The terms in this Policy may be changed by us at any time.
                </p>
            </div>
        </div>
        
    </div>
   
</section>