<section class="mt-5 pt-5">
    <!-- <div class="bannerShape">
        <div class="banner contact-banner d-flex align-items-center topSpace pb-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1 class="primary-heading  font-bold text-center text-md-left">
                            <span class="d-block">PORTFOLIO</span>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <div class="bannerImg">
                            <img src="../../../assets/img/banner-contact.svg">
                        </div>
                    </div>
                </div>
            </div>
            <img src="../../../assets/img/polygon_three.svg" class="pol3 polygon">
            <img src="../../../assets/img/polygon_two.svg" class="pol1 polygon">
            <img src="../../../assets/img/polygon_one.svg" class="pol2 polygon">
        </div>
    </div> -->

    <!-- <div class="banner-shape mt-5">
        <div class="container">
            <img src="../../../assets/img/polygon_three.svg" class="bg-icon-1 d-none d-lg-block">
            <img src="../../../assets/img/polygon_two.svg" class="bg-icon-2 d-none d-lg-block">
            <img src="../../../assets/img/polygon_one.svg" class="bg-icon-3 d-none d-lg-block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content-section">
                        <h1 class="page-heading mb-4 mb-lg-0">PORTFOLIO</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-section d-flex justify-content-center justify-content-lg-end">
                        <img class="banner-image" src="../../../assets/img/banner-contact.svg">
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="mt-4">
        <div class="text-center">
            <h6 class="secondary-heading">OUR WORK</h6>
        </div>
        <!-- <app-portfolio-all></app-portfolio-all> -->
        <section class="section-spacing py-0">
            <div class="portfolio-section">
                <div class="row justify-content-center mb-5 g-0">
                    <div class="col-lg-8 px-2">
                        <div class="text-center">
                            <h2 class="section-heading mb-4">Portfolio</h2>
                            <p class="mb-0">
                                It feels proud to be a technology partner of several brands, do check out a few of them
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row bg-gonanny g-0">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-center h-100 py-lg-5 py-3 px-4">
                                <img class="portfolio-img"
                                    src="./../../../../assets/home/go_nanny_image.webp">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="py-lg-5 py-3">
                                <div class="col-md-9 px-4 px-md-0 mx-auto">
                                    <a href="https://play.google.com/store/apps/details?id=com.au.gonanny"
                                        target="_blank" class="d-flex align-items-center mb-4 text-white">
                                        <img src="./../../../../assets/home/go_nanny_logo.webp"
                                            height="60px">
                                        <div class="ms-3">
                                            <h5>GoNanny</h5>
                                        </div>
                                    </a>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Overview</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                Using GoNanny, parents can find a dependable nanny at a very short
                                                notice without sacrificing security, talent, or price. The platform
                                                features an omni-channel presence with high quality mobile apps and
                                                websites, all backed up with scalable, secure servers. Admins can
                                                view
                                                real-time trends and analytics in the backend, take action on
                                                queries
                                                and transactions, send push notifications and perform background
                                                checks
                                                on nannies.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Our Role</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                The client was very confident about this idea, he had mockups,
                                                wireframes, and he only needed someone who could build this quickly.
                                                It
                                                took our team 5-6 weeks to develop the backend infrastructure, an
                                                interactive UI, smooth and fast-loading apps & websites for this
                                                idea.
                                                Despite the success of the launch, the client continues to add
                                                features.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Tech Stack</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>Apps: Native (Swift, Kotlin)</li>
                                                <li>Backend: Node JS</li>
                                                <li>Database: MySQL</li>
                                                <li>Cloud: AWS</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Deliverables</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>A Landing Page</li>
                                                <li>Mobile Apps</li>
                                                <li>Admin Panel</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center mt-4">
                                                <h6 class="fw-bold mb-0 me-3">Available On:</h6>
                                                <a href="https://play.google.com/store/apps/details?id=com.au.gonanny"
                                                    target="_blank">
                                                    <img class="me-3"
                                                        src="./../../../../assets/portfolio_assets/app_store.svg">
                                                </a>
                                                <a href="https://apps.apple.com/bh/app/gonanny/id1575679351"
                                                    target="_blank">
                                                    <img src="./../../../../assets/portfolio_assets/google_play.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bg-traxi g-0">
                        <div class="col-lg-6">
                            <div class="py-lg-5 py-3">
                                <div class="col-md-9 px-4 px-md-0 mx-auto">
                                    <a href="https://thetraxi.com/" target="_blank"
                                        class="d-flex align-items-center mb-4 text-white">
                                        <img src="./../../../../assets/home/the_traxi.webp" height="60px">
                                        <div class="ms-3">
                                            <h5>The Traxi</h5>
                                        </div>
                                    </a>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Overview</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                Traxi is the FIRST Same-Day Delivery service in Melbourne, enabling
                                                the
                                                ordering and delivery of goods from the marketplace. The platform
                                                features an omni-channel presence with high quality mobile apps for
                                                users, drivers and dashboard for business owners. Admins can view
                                                real-time trends and analytics in the backend, take action on
                                                queries
                                                and transactions, send push notifications.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Our Role</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                Same-day delivery service was well received, but the client had
                                                difficulties executing it. Within 7-8 weeks, we developed mobile
                                                apps
                                                based on the initial concept. Although the launch was successful, we
                                                continue to add features.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Tech Stack</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>Apps: Native (Swift, Kotlin)</li>
                                                <li>Backend: Node JS</li>
                                                <li>Database: MySQL</li>
                                                <li>Cloud: Azure</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Deliverables</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>A Landing Page</li>
                                                <li>Website for Business Owners</li>
                                                <li>Mobile Apps for Users</li>
                                                <li>Mobile Apps for Drivers</li>
                                                <li>Admin Panel</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center mt-4">
                                                <h6 class="fw-bold mb-0 me-3">Available On:</h6>
                                                <a href="https://apps.apple.com/sa/app/the-traxi/id1569804351"
                                                    target="_blank">
                                                    <img class="me-3"
                                                        src="./../../../../assets/portfolio_assets/app_store.svg">
                                                </a>
                                                <a href="https://play.google.com/store/apps/details?id=com.au.thetraxi"
                                                    target="_blank">
                                                    <img src="./../../../../assets/portfolio_assets/google_play.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-center h-100 py-lg-5 py-3 px-4">
                                <img class="portfolio-img"
                                    src="./../../../../assets/home/the_traxi_image.webp">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-pocket-studio g-0">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-center h-100 py-lg-5 py-3 px-4">
                                <img class="portfolio-img"
                                    src="./../../../../assets/home/pocket_studio_image.webp">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="py-lg-5 py-3">
                                <div class="col-md-9 px-4 px-md-0 mx-auto">
                                    <a href="https://play.google.com/store/apps/details?id=com.pocket_studio"
                                        target="_blank" class="d-flex align-items-center mb-4">
                                        <img src="./../../../../assets/home/pocket_logo.webp" height="60px">
                                        <div class="ms-3 text-dark">
                                            <h5>Pocket Studio</h5>
                                        </div>
                                    </a>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Overview</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first">
                                                With Pocketstudio, everyone can edit photos like a professional, and
                                                it
                                                has all kinds of filters used by experts in the field. The platform
                                                features an omni-channel presence with high quality mobile apps.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Our Role</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first">
                                                An industry veteran, our client saw an opportunity for everyone to
                                                edit
                                                photos like a pro, and we turned his vision into a premium, unique
                                                product.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Tech Stack</h6>
                                            <ul class="paragraph-first">
                                                <li>Apps: Native (Swift, Kotlin)</li>
                                                <li>Backend: Node JS</li>
                                                <li>Database: MySQL</li>
                                                <li>Cloud: Digital Ocean</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Deliverables</h6>
                                            <ul class="paragraph-first">
                                                <li>A Landing Page</li>
                                                <li>Mobile Apps</li>
                                                <li>Admin Panel</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center mt-4">
                                                <h6 class="fw-bold mb-0 me-3">Available On:</h6>
                                                <a href="https://apps.apple.com/in/app/pocket-studio/id1554989460"
                                                    target="_blank">
                                                    <img class="me-3"
                                                        src="./../../../../assets/portfolio_assets/app_store_black.svg">
                                                </a>
                                                <a href="https://play.google.com/store/apps/details?id=com.pocket_studio"
                                                    target="_blank">
                                                    <img
                                                        src="./../../../../assets/portfolio_assets/google_play_black.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bg-stockware g-0">
                        <div class="col-lg-6">
                            <div class="py-lg-5 py-3">
                                <div class="col-md-9 px-4 px-md-0 mx-auto">
                                    <a href="https://stockware.com.au/app/home" target="_blank"
                                        class="d-flex align-items-center mb-4 text-white">
                                        <img src="./../../../../assets/home/stockware_logo.webp"
                                            height="60px">
                                        <div class="ms-3">
                                            <h5>Stockware</h5>
                                        </div>
                                    </a>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Overview</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                With Stockware, you can keep tabs on your inventory in real
                                                time, edit your stock, and ensure that only what you need gets
                                                ordered.
                                                You can send orders to suppliers with confidence.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Our Role</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                While managing his dozens of warehouses, our client was forever lost
                                                in
                                                excel sheets, and when he first saw our solution, he literally
                                                called us
                                                magicians. We delivered flawless mobile apps, a web-based dashboard
                                                and
                                                an admin panel.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Tech Stack</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>Apps: React Native</li>
                                                <li>Backend: Node JS</li>
                                                <li>Database: MySQL</li>
                                                <li>Cloud: GCP</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Deliverables</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>A Landing Page</li>
                                                <li>Mobile Apps</li>
                                                <li>Admin Panel</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center mt-4">
                                                <h6 class="fw-bold mb-0 me-3">Available On:</h6>
                                                <a href="https://apps.apple.com/in/app/stockware/id1552326355#?platform=ipad"
                                                    target="_blank">
                                                    <img class="me-3"
                                                        src="./../../../../assets/portfolio_assets/app_store.svg">
                                                </a>
                                                <a href="https://play.google.com/store/apps/details?id=com.stockware"
                                                    target="_blank">
                                                    <img src="./../../../../assets/portfolio_assets/google_play.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-center h-100 py-lg-5 py-3 px-4">
                                <img class="portfolio-img"
                                    src="./../../../../assets/home/stockware_image.webp">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-everlens g-0">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center justify-content-center h-100 py-lg-5 py-3 px-4">
                                <img class="portfolio-img" style="max-width: 600px;"
                                    src="./../../../../assets/home/everlens_image.webp">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="py-lg-5 py-3">
                                <div class="col-md-9 px-4 px-md-0 mx-auto">
                                    <a href="https://everlens.io/" target="_blank"
                                        class="d-flex align-items-center mb-4 text-white">
                                        <img src="./../../../../assets/home/everlens_logo.webp"
                                            height="60px">
                                        <div class="ms-3">
                                            <h5>Everlens (NFT for Instagram)</h5>
                                        </div>
                                    </a>
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Overview</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                Everlens allows users to monetize their Instagram posts via an NFT
                                                marketplace on Binance Smart Chain. By linking their Instagram
                                                accounts,
                                                users can fetch their posts from Instagram and convert them into
                                                NFTs,
                                                place them on the marketplace, and begin receiving offers.
                                                Additionally,
                                                it offers a custom token, BEP 721, BEP 1155, Metamask wallet,
                                                Royalties,
                                                Token Transfers, Users Activity, and Wallet management.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <h6 class="fw-bold">Our Role</h6>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="paragraph-first text-white">
                                                As a result of the success of Opensea, and revolutionary NFT
                                                technology,
                                                our client wanted to make it easy for anyone to monetize their
                                                content
                                                by providing inexpensive minting, better discovery of NFTs, good
                                                offers,
                                                efficient buying/selling, and so on. Despite the limited help
                                                available
                                                on the internet we built this marketplace from the ground up in
                                                record
                                                time.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Tech Stack</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>Frontend: Angular/React</li>
                                                <li>Smart Contracts: Solidity</li>
                                                <li>Storage: IPFS</li>
                                                <li>Backend: Node JS</li>
                                                <li>Cloud: Digital Ocean</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="fw-bold">Deliverables</h6>
                                            <ul class="paragraph-first text-white">
                                                <li>Website</li>
                                                <li>Custom Token</li>
                                                <li>A Landing Page</li>
                                                <li>Admin Panel</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center mt-4">
                                                <h6 class="fw-bold mb-0 me-3">Available On:</h6>
                                                <a href="https://everlens.io/" target="_blank">
                                                    <img class="me-3"
                                                        src="./../../../../assets/portfolio_assets/web.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>