<div class="marketplacement-dev">
  <section class="marketplace-bg mt-5 pt-5">
    <div class="container">
      <div class="row justify-content-lg-between justify-content-center pt-5">
        <div class="col-lg-5 mt-5 text-center text-lg-start order-1 order-lg-0">
          <div class="mt-lg-4">
            <strong class="main-heading mb-3 d-block">Get your marketplace idea off the ground.</strong>
            <h1 class="display-5 fw-700 mb-0">
              Marketplace App & Website Development
            </h1>
            <p class="text-dark mb-0 mt-3">
              Interested in starting an online marketplace and getting paid while you sleep? We can help. We are one of
              the most well-known providers of online marketplace development services.
            </p>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <button type="button" class="btn btn-primary btn-shadow btn-lg btn-animate mt-4"
                (click)="openLetTalksComponent()">
                LET’S GET STARTED
                <span class="pulse-animation"></span>
              </button>
            </div>
            <div class="mt-3">
              <img class="" src="./../../../assets/marketplace/hero_sec_badge.png">
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-8 order-0 order-lg-1">
          <div class="position-relative">
            <img class="bg-img d-none d-lg-block" src="./../../../assets/circle.svg">
            <img class="bg-img-fruits d-none d-lg-block" src="./../../../assets/marketplace/fruit_basket.png">
            <app-get-touch-form [formHeading]="currentHeading"></app-get-touch-form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container mt-lg-4">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-9 text-center">
          <h6 class="secondary-heading">MARKETPLACE WEBSITES</h6>
          <h2 class="section-heading mb-4">Bringing you customer-centric, easy-to-use, high performing multi-seller
            niche marketplaces!</h2>
          <p class="text-dark mb-0">
            Interested in building a new marketplace like Airbnb, Amazon, Lynda, Uber, Doordash, Olx, or Tinder? Our
            talented engineers will build you an end-to-end mobile app and website for your marketplace that you will
            love!
          </p>
        </div>
        <div class="row g-lg-4">
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="b2c-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Consumer to Consumer<br>(C2C)</h5>
                  <span class="fs-14 fw-600">Ex- Alibaba, Amazon</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="business-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Business to Business<br>(B2B)</h5>
                  <span class="fs-14 fw-600">Ex- Upwork, Fiverr</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="peer-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Peer to Peer<br>(P2P)</h5>
                  <span class="fs-14 fw-600">Ex- Airbnb, Vrbo</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="b2b-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Business to Consumer<br>(B2C)</h5>
                  <span class="fs-14 fw-600">Ex- BestBuy, Walmart</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="multi-vendor-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Multi-vendor<br>Marketplace</h5>
                  <span class="fs-14 fw-600">Ex- Tinder, Bumble</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="shadow-box-2">
              <div class="d-flex align-items-center">
                <span class="network-img me-2"></span>
                <div>
                  <h5 class="main-heading text-dark">Market network</h5>
                  <span class="fs-14 fw-600">Ex- Lynda, Skillshare</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary py-3 px-5 bounce" (click)="openLetTalksComponent()">GET STARTED NOW!</button>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container mt-4">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <h6 class="secondary-heading">MARKETPLACE DEVELOPERS</h6>
          <h2 class="section-heading mb-4">Hey, you have this disruptive marketplace idea but don't know how to start?
          </h2>
          <p class="text-dark mb-0">
            No worries! We will listen to your idea, turn it into wireframes, augment that into a profitable business
            model, and then pivot that into a full-fledged mobile app and website. We have many solutions for your
            requirements, whether it's a turnkey solution or building it from scratch.
          </p>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-xl-5 row-cols-lg-3 row-cols-md-3">
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="mobile-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Mobile Friendly</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="analytics-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Analytics Dashboard</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="order-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Order Management</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="multivendor-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Multi Vendor Marketplace</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="payment-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Payment Integration</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="admin-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Admin Interface</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="product-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Product Listings</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="shipping-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Customizable Shipping</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="messaging-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Messaging & Notifications</h6>
          </div>
        </div>
        <div class="col mt-4">
          <div class="d-flex flex-column align-items-center text-center">
            <div class="shadow-box-circle">
              <span class="language-img me-2"></span>
            </div>
            <h6 class="details-heading mt-3">Language & Currency</h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Marketplace Builders -->

  <section class="section-spacing">
    <div class="container mt-4">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <h6 class="secondary-heading">MARKETPLACE BUILDERS</h6>
          <h2 class="section-heading mb-4">Most Versatile Marketplace Builders</h2>
        </div>
      </div>
      <div class="marketplace-tabs">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center active" id="pills-goods-tab" data-bs-toggle="pill"
                data-bs-target="#pills-goods" role="tab" aria-controls="pills-goods" aria-selected="true">
                Goods
                <span class="d-block fs-14 fw-500">Marketplace</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center" id="pills-service-tab" data-bs-toggle="pill"
                data-bs-target="#pills-service" role="tab" aria-controls="pills-service" aria-selected="false">
                Service
                <span class="d-block fs-14 fw-500">Marketplace</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center" id="pills-rental-tab" data-bs-toggle="pill" data-bs-target="#pills-rental"
                role="tab" aria-controls="pills-rental" aria-selected="false">
                Rental
                <span class="d-block fs-14 fw-500">Marketplace</span>
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center" id="pills-events-tab" data-bs-toggle="pill" data-bs-target="#pills-events"
                role="tab" aria-controls="pills-events" aria-selected="false">
                Events
                <span class="d-block fs-14 fw-500">Marketplace</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active mt-3" id="pills-goods" role="tabpanel"
            aria-labelledby="pills-goods-tab">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/food.webp" class="w-100 h-100">
                  <b class="mid-content">Food</b>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/grocery.webp"
                    class="w-100 h-100">
                  <b class="mid-content">Grocery</b>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/medicine.webp"
                    class="w-100 h-100">
                  <b class="mid-content">Pharmacy</b>
                </div>
              </div>
            </div>
            <div class="row justify-content-center content-space">
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/electrician.webp"
                    class="w-100 h-100">
                  <b class="mid-content">Electronics</b>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative"> <img src="./../../../assets/marketplace/markitplacenew/catering.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Catering</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/laundary.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Laundry</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/teaching.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Teaching</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/electrician.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">On Demand Electrician</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/plumber.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">On Demand Plumber</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/tour.webp" class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Trips &amp; Tours</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/dog_walking.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Dog Walking</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/saloon.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Saloon</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/car_wash.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Car Wash</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="pills-rental" role="tabpanel" aria-labelledby="pills-rental-tab">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/house.webp" class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">House</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/car.webp" class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Car/Bike</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/hotels.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Hotels</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/books.webp" class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Books</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade mt-3" id="pills-events" role="tabpanel" aria-labelledby="pills-events-tab">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/movie_tickets.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Movie Tickets</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/concert.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Show/Concert</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/marrket_expo.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Market Expo</b>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg-3">
                <div class="position-relative">
                  <img src="./../../../assets/marketplace/markitplacenew/wedding_birthdays.webp"
                    class="w-100 h-100">
                  <div class="overlay-img">
                    <b class="mid-content">Wedding &amp; Birthdays</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container mt-4">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <h6 class="secondary-heading">MARKETPLACE EXPERTS</h6>
          <h2 class="section-heading mb-4">Marketplace Development Gurus</h2>
          <p class="text-dark mb-0">
            Let us take care of all your marketplace development needs. Our seasoned experts will help you explore a
            wide range of options regardless of whether you require b2b (business-to-business), p2p (peer-to-peer), or
            b2c (business-to-consumer) development. Sit back and relax, we'll build you a state-of-the-art marketplace
            website and mobile app.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-4 mt-4">
          <img src="./../../../assets/marketplace/markitplacenew/mobile.webp" class="side-image">
        </div>
        <div class="col-6 col-lg-3 mt-4">
          <ul class="marketplace-list">
            <li class="items-list">Ecommerce (P2P, B2B, B2C)</li>
            <li class="items-list">Services (P2P, B2C)</li>
            <li class="items-list">Rental (P2P, B2C)</li>
            <li class="items-list">Food & Grocery (P2P, B2C)</li>
            <li class="items-list">Dating (P2P)</li>
            <li class="items-list">Education/Tutoring (P2P)</li>
            <li class="items-list">Blockchain/NFT (P2P)</li>
            <li class="items-list">Finance (P2P)</li>
          </ul>
        </div>
        <div class="col-lg-9 mt-5 text-center">
          <p>
            Developing best-in-class marketplace ideas demands the best developer. Our developers have a solid grasp on
            doing not just technology but also creating a great user experience that engages them meaningfully, fulfills
            their needs, as well as leaves a lasting impression. </p>
          <p>
            With extensive experience in building marketplace websites, we'll help you launch your marketplace platform
            very efficiently and in the shortest amount of time.
          </p>
          <button type="button" class="btn btn-primary py-3 fs-16 mt-4 px-md-5 px-4 bounce"
            (click)="openLetTalksComponent()">LET US
            KNOW YOUR IDEA</button>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <h2 class="section-heading mb-4">Featured Marketplace Developments</h2>
        </div>
      </div>
      <div class="marketplace-slider">
        <ngx-slick-carousel class="carousel py-2" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/horsebnb.webp">
                <h5 class="my-4">Horsebnb</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/popular_marketplace_mobile.webp">
                <h5 class="my-4">Potswork</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/kc_tickets.webp">
                <h5 class="my-4">KC Tickets</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/lap_potswork.webp">
                <h5 class="my-4">Potswork</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/sevenmd.webp">
                <h5 class="my-4">7md</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="slider-card slider-space">
              <div class="d-flex flex-column align-items-center">
                <img class="slider-img" src="./../../../assets/marketplace/markitplacenew/traxi.webp">
                <h5 class="my-4">Traxi</h5>
                <button type="button" class="btn btn-primary btn-shadow py-2 mt-3 px-5"
                  (click)="openLetTalksComponent()">
                  GET QUOTE
                </button>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="section-heading mb-4">Get A Complete Tech-Suite</h2>
        </div>
      </div>
      <div class="marketplace-tabs">
        <div class="d-flex justify-content-center">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center active" id="pills-admin-tab" data-bs-toggle="pill"
                data-bs-target="#pills-admin" role="tab" aria-controls="pills-admin" aria-selected="true">
                Admin<br> Panel
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link text-center" id="pills-user-tab" data-bs-toggle="pill" data-bs-target="#pills-user"
                role="tab" aria-controls="pills-user" aria-selected="false">
                User<br> Dashboard
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active mt-3" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab">
          <div class="row mt-5 justify-content-center">
            <div class=" col-md-8 col-lg-3 mt-3">
              <div class="d-flex flex-column justify-content-center h-100">
                <div class="card border-primary text-center p-3 mb-4">
                  <h5 class="text-dark fw-600">FULLY CUSTOMIZED</h5>
                  <p class="paragraph-first mb-0">Get fully customized dashboard according to the need of business
                  </p>
                </div>
                <div class="card border-primary text-center p-3">
                  <h5 class="text-dark fw-600">NAVIGATION</h5>
                  <p class="paragraph-first mb-0">Highly attractive & easy to use navigation</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-3">
              <img class="dashboard-img" src="./../../../assets/marketplace/markitplacenew/laptop_tech_suite.webp">
            </div>
            <div class="col-md-8 col-lg-3 mt-3">
              <div class="d-flex flex-column justify-content-center h-100">
                <div class="card border-primary text-center p-3 mb-4">
                  <h5 class="text-dark fw-600">NOTIFICATION</h5>
                  <p class="paragraph-first mb-0">Get customized notification on every purchase, meassage etc</p>
                </div>
                <div class="card border-primary text-center p-3 mb-4">
                  <h5 class="text-dark fw-600">ANALYTICS</h5>
                  <p class="paragraph-first mb-0">In depth sales analysis over a period of time get ratio of profit
                    & loss</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade mt-3 user-dashboard" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
          <div class="row mt-lg-5 justify-content-lg-between justify-content-center flex-lg-nowrap">
            <div class="col-md-8 col-lg-5 mt-3">
              <div class="d-flex flex-column justify-content-start h-100">
                <div class="d-flex align-items-center mb-lg-5 mt-4 mb-3">
                  <div class="card border-primary text-center p-3">
                    <h5 class="text-dark fw-600">FULLY CUSTOMIZED</h5>
                    <p class="paragraph-first mb-0">Get fully customized dashboard according to the need of business
                    </p>
                  </div>
                  <span class="line-left w-50 d-none d-lg-block"></span>
                </div>
                <div class="d-flex align-items-center mb-lg-5">
                  <div class="card border-primary text-center p-3">
                    <h5 class="text-dark fw-600">NAVIGATION</h5>
                    <p class="paragraph-first mb-0">Highly attractive & easy to use navigation</p>
                  </div>
                  <span class="line-left w-50 d-none d-lg-block"></span>
                </div>
              </div>
            </div>
            <div class="col-lg-auto mt-3 text-center px-0">
              <img class="dashboard-mobile" src="./../../../assets/marketplace/user_dashboard.png">
            </div>
            <div class="col-md-8 col-lg-5 mt-3">
              <div class="d-flex flex-column justify-content-end h-100">
                <div class="d-flex align-items-center mb-3 mb-lg-5">
                  <span class="line-right w-50 d-none d-lg-block"></span>
                  <div class="card border-primary text-center p-3">
                    <h5 class="text-dark fw-600">NOTIFICATION</h5>
                    <p class="paragraph-first mb-0">Get customized notification on every purchase, meassage etc</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-lg-5">
                  <span class="line-right w-50 d-none d-lg-block"></span>
                  <div class="card border-primary text-center p-3">
                    <h5 class="text-dark fw-600">ANALYTICS</h5>
                    <p class="paragraph-first mb-0">In depth sales analysis over a period of time get ratio of profit
                      & loss</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="bg-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-5">
            <div>
              <img src="./../../../assets/marketplace/markitplacenew/mobile_build_own_marketplace.webp" class="w-100">
            </div>
          </div>
          <div class="col-md-5 my-5">
            <h2 class="fw-600 text-dark">
              Creating your Online Marketplace has never been simpler
            </h2>
            <div class="text-center text-lg-start">
              <button type="button" class="btn btn-primary btn-shadow btn-lg mt-4 btn-animate"
                (click)="openLetTalksComponent()">LET’S GET STARTED
                <span class="pulse-animation"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing bg-dark" (scroll)="onScroll($event)">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-6 my-3">
          <div class="d-flex flex-column text-center align-items-center">
            <div class="rating-yellow">
              <div class="rating-content">
                <span class="text">{{counter}}+</span>
              </div>
            </div>
            <h5 class="mt-3 counter-text">Years of Industry<br> Experience</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 my-3">
          <div class="d-flex flex-column text-center align-items-center">
            <div class="rating-red">
              <div class="rating-content">
                <span class="text">{{counter2}}+</span>
              </div>
            </div>
            <h5 class="mt-3 counter-text">Technology Suites<br> Catered</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 my-3">
          <div class="d-flex flex-column text-center align-items-center">
            <div class="rating-green">
              <div class="rating-content">
                <span class="text">{{counter3}}+</span>
              </div>
            </div>
            <h5 class="mt-3 counter-text">Projects Delivered</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6 my-3">
          <div class="d-flex flex-column text-center align-items-center">
            <div class="rating-blue">
              <div class="rating-content">
                <span class="text">{{counter4}}+</span>
              </div>
            </div>
            <h5 class="mt-3 counter-text">Multi-Million Dollar<br> Businesses</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portpolio -->
  <div class="pt-5">
    <div class="text-center">
        <h6 class="secondary-heading">MOST SUCCESSFUL MARKETPLACE DEVELOPMENT BY US</h6>
    </div>
    <app-portfolio-all></app-portfolio-all>
  </div>
  <section class="section-spacing">
    <app-tech-stack></app-tech-stack>
  </section>
  <section class="section-spacing">
    <div class="container mt-4">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <h2 class="section-heading mb-4">Excited to start your marketplace?</h2>
          <p class="text-dark mb-0">
            We can get you started on your journey of launching a marketplace immediately with our turnkey solutions. We
            have ready-to-market solutions for a diverse set of verticals. All you have to do is talk to our business
            analyst, discuss your goals, and he will build a business model targeted at meeting your goals. Engineers
            will quickly execute and you will have end-to-end marketplace apps and a website.
          </p>
        </div>
      </div>
      <div class="row justify-content-around align-items-center">
        <div class="col-lg-4 mt-4">
          <img src="./../../../assets/marketplace/markitplacenew/mobile_marketing.webp" class="side-image">
        </div>
        <div class="col-auto mt-4">
          <ul class="marketplace-list h-auto excited">
            <li class="items-list">Build Uber-like Car Hailing Marketplace</li>
            <li class="items-list">Create a Uber Eats Food Delivery Marketplace</li>
            <li class="items-list">Launch Airbnb like Rental Marketplace</li>
            <li class="items-list">Develop Opensea, Rarible like NFT Marketplace</li>
            <li class="items-list">Tinder-like Dating Marketplace</li>
          </ul>
          <div class="text-center">
            <button type="button" class="btn btn-primary px-5 mt-4 bounce" (click)="openLetTalksComponent()">GET STARTED NOW!</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="section-heading mb-4">Our Achievements</h2>
        </div>
      </div>
      <div class="row justify-content-center g-xl-5">
        <div class="col-md-auto col-4 mt-3 mt-lg-5">
          <img class="w-100" src="./../../../assets/marketplace/markitplacenew/clutch.webp">
        </div>
        <div class="col-md-auto col-4 mt-3 mt-lg-5">
          <img class="w-100" src="./../../../assets/marketplace/markitplacenew/boa.webp">
        </div>
        <div class="col-md-auto col-4 mt-3 mt-lg-5">
          <img class="w-100" src="./../../../assets/marketplace/af.png">
        </div>
        <div class="col-md-auto col-4 mt-3 mt-lg-5">
          <img class="w-100" src="./../../../assets/marketplace/markitplacenew/twd.webp">
        </div>
        <div class="col-md-auto col-4 mt-3 mt-lg-5">
          <img class="w-100" src="./../../../assets/marketplace/markitplacenew/gfs.webp">
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing service-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="section-heading mb-4">What makes us special?</h2>
        </div>
      </div>
      <div class="row g-lg-5 my-0">
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="inventory-img"></span>
              <h5 class="main-heading my-4">Inventory Management</h5>
              <p class="paragraph-first text-center">
                Enables CRUD operations of the inventory
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="rate-img"></span>
              <h5 class="main-heading my-4">Rating and Reviews</h5>
              <p class="paragraph-first text-center">
                Allow Customers to leave feedback and ratings
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="seller-img"></span>
              <h5 class="main-heading my-4">Seller’s Dashboard</h5>
              <p class="paragraph-first text-center">
                An interactive panel for seller to view KPIs, new orders, queries
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="taxes-img"></span>
              <h5 class="main-heading my-4">Shipping and Taxes</h5>
              <p class="paragraph-first text-center">
                An inbuilt solution that do the taxation, calculates shipping
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="reports-img"></span>
              <h5 class="main-heading my-4">Reports</h5>
              <p class="paragraph-first text-center">
                Advanced tool for downloading channel experience
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="responsive-img"></span>
              <h5 class="main-heading my-4">Responsive Design</h5>
              <p class="paragraph-first text-center">
                One website that offers omni-channel experience
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="mobile-apps-img"></span>
              <h5 class="main-heading my-4">Mobile Apps</h5>
              <p class="paragraph-first text-center">
                Mobile apps for better & personalised user experience
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="lnternational-img"></span>
              <h5 class="main-heading my-4">International Payments</h5>
              <p class="paragraph-first text-center">
                Integration of Stripe, Square, PayPal and other payment gateways to ensure easy and
                convenient payments
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-5">
          <div class="slider-card ">
            <div class="d-flex flex-column align-items-center">
              <span class="customer-img"></span>
              <h5 class="main-heading my-4">Instant Customer Support</h5>
              <p class="paragraph-first text-center">
                Customers can reach the marketplace executive via inbuilt real-time chat facility to
                register a query, grievance, etc.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- top brands -->
  <app-top-brand></app-top-brand>

  <!-- Clients Says -->
  <app-testimonial></app-testimonial>

  <section class="section-spacing">
    <div class="unique-marketplace">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 my-4">
            <h2 class="text-white mb-4">
              Let’s Turn Your Unique Marketplace Idea Real, With Our Expertise, Experience & Technology
            </h2>
            <button type="button" class="btn btn-light  btn-lg mt-4 overflow-hidden btn-animate"
              (click)="openLetTalksComponent()">
              LET'S TALK
            </button>
          </div>
          <div class="col-lg-7">
            <img src="./../../../assets/marketplace/markitplacenew/illustration.webp" class="marketplace-img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-spacing">
    <div class="contact-bg social-icons">
      <div class="container position-relative">
        <div class="row justify-content-lg-between justify-content-center">
          <div class="col-xl-5 col-lg-6 mt-3 order-1 order-lg-0">
            <div>
              <h2 class="contact-heading">CONTACT US</h2>
              <img src="../../../assets/img/logo.svg">
              <div class="d-flex my-4">
                <a target="_blank" href="mailto:Rimon.attalla@outlook.com" class="text-default me-3">
                  <img src="../../../assets/images/skype.svg" class="pe-2">
                  Skype
                </a>
                <a target="_blank" class="text-default" href="https://api.whatsapp.com/send?phone=+61 430 742 202">
                  <img src="../../../assets/images/whatsapp.svg" class="pe-2">
                  +61 430 742 202
                </a>
              </div>
              <div class="d-flex my-4 contactInner">
                <div class="inquiryCol">
                  <img src="../../../assets/images/call.svg" class="pe-2 social-icon">
                  <a href="tel:+611300709345" class="contactDiv text-default">+61-1300 709 345</a>
                  <!-- <a href="tel:+918054377604" class=" contactDiv text-default pl-lg-1">+91 8054377604</a> -->
                </div>

              </div>
              <div class="d-flex">
                <span class="d-flex">
                  <img src="../../../assets/images/location.svg" class="pe-2">
                  Melbourne VIC 3000, Australia
                </span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-8 order-0 order-lg-1 mt-3">
            <div class="position-relative">
              <app-get-touch-form [formHeading]="currentHeading"></app-get-touch-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>