<!-- heroCol section starts -->
<section>
    <div class="heroCol shapes-bg topSpace">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 order-lg-2">
                    <div class="banner-img mobile-banner d-flex justify-content-center justify-content-lg-end">
                        <img src="../../../assets/images/circle.png" class="img_one d-none">
                        <img src="../../../assets/images/iot/banner.webp" class="img_two iot-banner-1 iot-banner ">
                    </div>
                </div>
                <div class="col-lg-5 ">
                    <h1 class="primary-heading  font-bold">
                        <span class="d-block">Looking for an <span class="text-primary">IoT</span> developer</span>
                    </h1>
                    <p class="my-4">You have come to the right place. With 8 years of providing full- cycle development
                        solution for IoT, web, mobile we are strongly positioned to help you build, scale and maintain
                        the IoT-enabled software meeting all your requirements.</p>
                    <button class="btn btn-lg btn-primary banner-btn getEstimate btn-animate fw-600" (click)="openLetTalksComponent()">Got an
                        idea! Let’s discuss
                        <span class="pulse-animation"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="text-center pointer d-none d-md-block">
            <a (click)="scrollTo(iot)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="48" viewBox="0 0 30 48">
                    <g id="toggle" transform="translate(-944 -969)">
                        <g id="Rectangle_3" data-name="Rectangle 3" transform="translate(944 969)" fill="none"
                            stroke="#DED4B7" stroke-width="3">
                            <rect width="30" height="48" rx="15" stroke="none" />
                            <rect x="1.5" y="1.5" width="27" height="45" rx="13.5" fill="none" />
                        </g>
                        <circle id="Ellipse_7" class="circle" data-name="Ellipse 7" cx="3" cy="3" r="3"
                            transform="translate(956 999)" />
                    </g>
                </svg>
            </a>
        </div>
    </div>
</section>

<!-- development serviceCol -->
<section>
    <div class="devServiceCol sectionSpace" id="heading" #iot>
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="sec-heading text-black px-0 mx-auto no-md-after">IoT Application Development
                    Services</h2>
                <p class="col-md-9 px-0 mx-auto">You have come to the right place. With 8 years of providing
                    full-cycle development solution for IoT, web, mobile we are strongly positioned to help
                    you build, scale and maintain the IoT-enabled software meeting all your requirements.
                </p>
                <h5 class="fw-600">How should we help you?</h5>
            </div>
            <div class="row justify-content-between align-items-center py-5 card-section">
                <div class="col-md-5">
                    <div class="card-left one">
                        <img src="../../../assets/images/iot/one.webp" class="w-100">
                    </div>
                    <div class="iot-right-arw d-none d-md-block">
                        <img src="../../../assets/images/iot/paper_image_right.webp" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 right-iot-bg">
                    <div class="shadow-box py-5 idea-one">
                        <h2 class="fw-600 text-black mb-4">You have an <span class="text-primary">idea</span> but don’t
                            know how things work?</h2>
                        <button class="btn btn-lg btn-primary banner-btn getEstimate btn-animate fw-600" (click)="openLetTalksComponent()">Let’s
                            Talk and
                            Figure it out
                            <span class="pulse-animation"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse align-items-center justify-content-between py-5">
                <div class="col-md-5">
                    <div class="card-right">
                        <img src="../../../assets/images/iot/two.webp" class="w-100">
                    </div>
                    <div class="iot-left-arw d-none d-md-block">
                        <img src="../../../assets/images/iot/paper_image_right-1.webp" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 left-iot-bg">
                    <div class="shadow-box py-5 idea-two">
                        <h2 class="fw-600 text-black mb-4">You know the <span class="text-primary">idea</span> but needs
                            polishing?</h2>
                        <button class="btn btn-lg btn-primary banner-btn getEstimate btn-animate fw-600" (click)="openLetTalksComponent()">Let's
                            Talk
                            <span class="pulse-animation"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row  align-items-center justify-content-between ">
                <div class="col-md-5">
                    <div class="card-left two">
                        <img src="../../../assets/images/iot/three.webp" class="w-100">
                    </div>
                    <div class="iot-right-arw d-none d-md-block">
                        <img src="../../../assets/images/iot/paper_image_right.webp" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 right-iot-bg">
                    <div class="shadow-box py-5 idea-three">
                        <h2 class="fw-600 text-black mb-4">You know what you want and just looking for a
                            <span class="text-primary">team</span> to execute?
                        </h2>
                        <button class="btn btn-lg btn-primary banner-btn getEstimate btn-animate fw-600" (click)="openLetTalksComponent()">Let’s
                            do it
                            <span class="pulse-animation"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Iot verticals section starts -->
<section>
    <div class="iotVertical bg-primary-gradient innerSpace" id="heading">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="sec-heading  text-black px-0 mx-auto">IoT Verticals</h2>
                <p class="col-md-9 px-0 mx-auto">We have got a wide range of ready-made IoT Solutions
                    customised to your requirements with promising results. We have created solutions across
                    following domains verticals:</p>
            </div>
            <div class="row justify-content-between align-items-center py-5 flex-column-reverse flex-md-row">
                <div class="col-md-5 mt-5 mt-md-0">
                    <div>
                        <img src="../../../assets/images/iot/zero_one.svg" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 ">
                    <h4 class="xl-bold text-dark-primary">01</h4>
                    <h3 class="h1 fw-600 text-black mb-4">Smart Homes</h3>
                </div>
            </div>
            <div
                class="row flex-row-reverse align-items-center justify-content-between py-5 flex-column-reverse flex-md-row">
                <div class="col-md-5 mt-5 mt-md-0 order-lg-2">
                    <div>
                        <img src="../../../assets/images/iot/zero_two.svg" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 ">
                    <h4 class="xl-bold text-dark-primary">02</h4>
                    <h3 class="h1 fw-600 text-black mb-4">Smart Agriculture</h3>
                </div>
            </div>
            <div class="row  justify-content-between align-items-center py-5 flex-column-reverse flex-md-row">
                <div class="col-md-5 mt-5 mt-md-0">
                    <div>
                        <img src="../../../assets/images/iot/zero_three.svg" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 mt-5 mt-md-0">
                    <h4 class="xl-bold text-dark-primary">03</h4>
                    <h3 class="h1 fw-600 text-black mb-4">Smart Industries</h3>
                </div>
            </div>
            <div
                class="row flex-row-reverse justify-content-between align-items-center  flex-column-reverse flex-md-row">
                <div class="col-md-5 mt-5 mt-md-0 order-lg-2">
                    <div>
                        <img src="../../../assets/images/iot/zero_four.svg" class="w-100">
                    </div>
                </div>
                <div class="col-md-5 mt-5 mt-md-0">
                    <h4 class="xl-bold text-dark-primary">04</h4>
                    <h3 class="h1 fw-600 text-black mb-4">Smart Cities</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ourService section starts -->
<section class="section-spacing">
    <div class="container">
        <div class="row justify-content-center mb-lg-4">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="section-heading mb-4">Our Services</h2>
                    <p class="paragraph">
                        Following is our process that ensures best technology, regular feedback, reliable team, right
                        infrastructure well optimised for successful results.
                    </p>
                </div>
            </div>
        </div>
        <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2">
            <div class="col mt-4">
                <div class="content-box">
                    <p class="paragraph text-center text-black mb-0">Provides consultancy at Planning stage</p>
                </div>
            </div>
            <div class="col mt-4">
                <div class="content-box">
                    <p class="paragraph text-center text-black mb-0">Provides consultancy at development stage</p>
                </div>
            </div>
            <div class="col mt-4">
                <div class="content-box">
                    <p class="paragraph text-center text-black mb-0">Documentation of detailed requirements</p>
                </div>
            </div>
            <div class="col mt-4">
                <div class="content-box">
                    <p class="paragraph text-center text-black mb-0">Implementation of the solution</p>
                </div>
            </div>
            <div class="col mt-4">
                <div class="content-box">
                    <p class="paragraph text-center text-black mb-0">Maintenance & enhance- ment in the solution</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tech Stack Section starts -->
<section class="section-spacing bg-light">
    <div class="container">
        <div class="row justify-content-center mb-lg-4">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="section-heading mb-4">Our Preferred Tech Stack</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-center">
                <ul class="nav nav-pills d-inline-flex mb-3 justify-content-between" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pills-cloud-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-cloud" role="tab" aria-controls="pills-cloud"
                            aria-selected="true">Cloud</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-dahsboard-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-dahsboard" role="tab" aria-controls="pills-dahsboard"
                            aria-selected="false">Dahsboard</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-mobile-tab" data-bs-toggle="pill" data-bs-target="#pills-mobile"
                            role="tab" aria-controls="pills-mobile" aria-selected="false">Mobile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-data-tab" data-bs-toggle="pill" data-bs-target="#pills-data"
                            role="tab" aria-controls="pills-data" aria-selected="false">Data</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel"
                    aria-labelledby="pills-cloud-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/aws.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/ossio.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/azure.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/google_cloud.webp" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-dahsboard" role="tabpanel" aria-labelledby="pills-dahsboard-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/angular.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/js.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/laravel.webp" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-mobile" role="tabpanel" aria-labelledby="pills-mobile-tab">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/swift.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/kotlin.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/react_native.webp" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/mysql.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/mango_db.webp" class="w-100">
                        </div>
                        <div class="col-6 col-md-3 col-lg-2 mt-4">
                            <img src="./../../../assets/images/iot/amazon_rds.webp" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Deliverables section starts -->
<section class="section-spacing bg-light">
    <div class="container">
        <div class="row justify-content-center mb-lg-4">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="section-heading mb-4">Deliverables</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-center">
                <ul class="nav nav-pills d-inline-flex mb-3 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item mt-0" role="presentation">
                        <a class="nav-link active" id="pills-mobile-apps-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-mobile-apps" role="tab" aria-controls="pills-mobile-apps"
                            aria-selected="true">Mobile apps</a>
                    </li>
                    <li class="nav-item mt-0" role="presentation">
                        <a class="nav-link" id="pills-website-tab" data-bs-toggle="pill" data-bs-target="#pills-website"
                            role="tab" aria-controls="pills-website" aria-selected="false">Website Dashboard</a>
                    </li>
                    <li class="nav-item mt-0" role="presentation">
                        <a class="nav-link" id="pills-saas-tab" data-bs-toggle="pill" data-bs-target="#pills-saas"
                            role="tab" aria-controls="pills-saas" aria-selected="false">SaaS Based Solution</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-mobile-apps" role="tabpanel"
                    aria-labelledby="pills-mobile-apps-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/easy_monitoring.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">Easy Monitoring</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/alerts.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">Alerts</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/controls.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">Controls</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-website" role="tabpanel" aria-labelledby="pills-website-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/kpis.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">KPIs</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/data_analysis.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">Data Analysis</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/reporting.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">Reporting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-saas" role="tabpanel" aria-labelledby="pills-saas-tab">
                    <div class="row justify-content-lg-center">
                        <div class="col-6 col-lg-3 mt-4">
                            <div class="position-relative">
                                <img src="./../../../assets/images/iot/white_labbled_solution.webp" class="w-100">
                                <div class="detail-text">
                                    <span class="text-center d-block fw-600 fs-14">White Labelled Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Get started section starts -->
<section>
    <div class="getStartedCol unique-marketplace innerSpace">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 px-0 text-center">
                    <h4 class="h1 text-white mb-4">
                        Ready To Get Started?
                    </h4>
                    <p class="text-white">We create strategic and client-focused solutions that offer
                        tangible business results and help enterprises drive business growth by navigating
                        the connected devices landscape. Are you looking forward to IoT application
                        development?</p>
                    <button class="btn bg-white mt-4 text-primary px-4 bounce" (click)="openLetTalksComponent()">LET'S
                        TALK</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Development Samples section starts -->
<section>
    <div class="portfolio samplesCol innerSpace pb-0">
        <div class="sampleCont">
            <div class="text-center mb-5">
                <h2 class="sec-heading after-border text-black no-md-after">Our IoT Development Samples</h2>
            </div>
            <div class="row bg-iot g-0">
                <div class="col-lg-6">
                    <div class="d-flex align-items-center justify-content-center h-100 py-5 px-4">
                        <img class="portfolio-img" src="./../../../assets/images/iot/iot_image.webp">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="py-5">
                        <div class="col-md-9 px-4 px-md-0 mx-auto">
                            <div class="d-flex align-items-center mb-4">
                                <img src="./../../../assets/portfolio_assets/iotech_logo.png" height="60px">
                                <div class="ms-3">
                                    <h5>IOTech</h5>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <h6 class="fw-bold">Overview</h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="paragraph-first ">
                                        IoTech is the leading service & infra provider for automated monitoring
                                        solutions for the warehouses, farms, manufacturing plants, inventory and
                                        employees. The monitoring solutions are driven by embedded IoT devices
                                        at
                                        the location that continuously push data to the server and a solid
                                        infrastructure at the backend that store, process and analyze the data
                                        for
                                        the management. An interactive dashboard helps with KPIs, actionable
                                        insights & reporting and mobile apps for easy controls, alerts &
                                        notifications.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <h6 class="fw-bold">Our Role</h6>
                                </div>
                                <div class="col-md-12">
                                    <p class="paragraph-first ">
                                        Our client has been a leading provider of monitoring solutions for farms
                                        in
                                        Nigeria and they wanted to expand their operations to other verticals.
                                        So,
                                        we built a robust technology enabled product with embedded IoT devices
                                        at
                                        the site and a data rich platform at the backend that ensures reliable
                                        data
                                        collection, interactive dashboard for KPIs and a SaaS architecture that
                                        enabled him to plug & play and distribute the solution to others as
                                        well.
                                    </p>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <h6 class="fw-bold">Tech Stack</h6>
                                    <ul class="paragraph-first ">
                                        <li>Frontend: Angular 8, HTML, CSS</li>
                                        <li>Backend: Node JS</li>
                                        <li>Database: MySQL</li>
                                        <li>Frontend: Protocol: MQTT</li>
                                        <li>Cloud: AWS</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="fw-bold">Deliverables</h6>
                                    <ul class="paragraph-first ">
                                        <li>A Website</li>
                                        <li>A Landing Page</li>
                                        <li>A Dashboard</li>
                                        <li>A Master Admin Panel</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>