<section class="bannerShape">
  <div class="banner contact-banner d-flex align-items-center topSpace">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h1 class="primary-heading   font-bold text-center text-md-left">
            <span class="d-block">WE ARE HIRING ,</span>
            <span class="d-block">WANT TO WORK WITH US?</span>
          </h1>
        </div>
        <div class="col-md-6">
          <div class="bannerImg">
            <img src="../../../assets/img/Interview-bro.svg">
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/img/polygon_one.svg" class="pol3 polygon">
    <img src="../../../assets/img/polygon_two.svg" class="pol1 polygon">
    <img src="../../../assets/img/polygon_three.svg" class="pol2 polygon">
  </div>
</section>

<section>
  <div class="joinSection sectionSpace">
    <div class="container">
      <div class="text-center mb-5">
        <h2 class="sec-heading after-border text-black">Join Us</h2>
        <p class="col-md-9 px-0 mx-auto">Attalla Digital offers you an exciting and challenging environment in which you can
          grow and thrive. We are offering you roles in which you will be fundamentally impacting the success of the
          company.</p>
      </div>
      <div class="jobAccord">
        <div class="container">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <div class="customAccd" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                  aria-controls="collapseOne">
                  <div class="form-row align-items-center">
                    <div class="col-12  col-md-4">
                      <div class="jobDesp">
                        <img src="../../../assets/img/we_re_hiring.svg" alt="">
                        <div class="jobTitle">
                          <span>Position</span>
                          <h5>Android Developer</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-none d-md-block">
                      <div class="form-row">
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Experience</span>
                            <h5>1-3 Years</h5>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Location</span>
                            <h5>Melbourne VIC 3000, Australia</h5>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                  
                  <div class="accrdBtn">
                    <i class="fas fa-chevron-up"></i>
                  </div>
                </div>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="accrDrop">
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Expericence</h5>
                      <ul>
                        <li>1-3 Years</li>
                      </ul>
                    </div>
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Location</h5>
                      <ul>
                        <li>Melbourne VIC 3000, Australia</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Job Responsibilities :</h5>
                      <ul>
                        <li>Lead android team & follow Agile methodology.</li>
                        <li>Developing Mobile Applications on the Android Platform.</li>
                        <li>Interacting with third-party APIs</li>
                        <li>Communicating with REST services, working with databases.</li>
                        <li>End-to-end Android application development.</li>
                        <li>Excellent command on Java.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Required Skills :</h5>
                      <ul>
                        <li>Strong knowledge of Android SDK, different versions of Android, and how to deal with
                          different screen sizes</li>
                        <li>Good understanding of working with REST Web Services</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Experience with offline storage, threading, and performance tuning.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Desired Skills</h5>
                      <ul>
                        <li>Experience in Kotlin, MVP, MVVM Design patterns.</li>
                        <li>Experience in Volley, Retrofit, RxJava.</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Familiarity with continuous integration tools such as Jenkins.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Telephone</h5>
                      <ul>
                        <li>+611300 709 345</li>
                        <!-- <li>+91 8054377604</li> -->
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Email</h5>
                      <ul>
                        <li>rimon@attalla.com.au</li>
                        <li>Candidates who can join immediately would be preferred.</li>
                        <li>Note: If you are willing to apply on the above post, kindly add your live project’s Play
                          Store links in the resume.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <div class="customAccd collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  <div class="form-row align-items-center">
                    <div class="col-12  col-md-4">
                      <div class="jobDesp">
                        <img src="../../../assets/img/we_re_hiring.svg" alt="">
                        <div class="jobTitle">
                          <span>Position</span>
                          <h5>IOS Developer</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-none d-md-block">
                      <div class="form-row">
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Experience</span>
                            <h5>1-3 Years</h5>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Location</span>
                            <h5>Melbourne VIC 3000, Australia</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accrdBtn">
                    <i class="fas fa-chevron-up"></i>
                  </div>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="accrDrop">
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Expericence</h5>
                      <ul>
                        <li>1-3 Years</li>
                      </ul>
                    </div>
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Location</h5>
                      <ul>
                        <li>Melbourne VIC 3000, Australia</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Job Responsibilities :</h5>
                      <ul>
                        <li>Lead android team & follow Agile methodology.</li>
                        <li>Developing Mobile Applications on the Android Platform.</li>
                        <li>Interacting with third-party APIs</li>
                        <li>Communicating with REST services, working with databases.</li>
                        <li>End-to-end Android application development.</li>
                        <li>Excellent command on Java.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Required Skills :</h5>
                      <ul>
                        <li>Strong knowledge of Android SDK, different versions of Android, and how to deal with
                          different screen sizes</li>
                        <li>Good understanding of working with REST Web Services</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Experience with offline storage, threading, and performance tuning.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Desired Skills</h5>
                      <ul>
                        <li>Experience in Kotlin, MVP, MVVM Design patterns.</li>
                        <li>Experience in Volley, Retrofit, RxJava.</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Familiarity with continuous integration tools such as Jenkins.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Telephone</h5>
                      <ul>
                        <li>+611300 709 345</li>
                        <!-- <li>+91 8054377604</li> -->
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Email</h5>
                      <ul>
                        <li>rimon@attalla.com.au</li>
                        <li>Candidates who can join immediately would be preferred.</li>
                        <li>Note: If you are willing to apply on the above post, kindly add your live project’s Play
                          Store links in the resume.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <div class="customAccd collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  <div class="form-row align-items-center">
                    <div class="col-12  col-md-4">
                      <div class="jobDesp">
                        <img src="../../../assets/img/we_re_hiring.svg" alt="">
                        <div class="jobTitle">
                          <span>Position</span>
                          <h5>React Native Developer</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 d-none d-md-block">
                      <div class="form-row">
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Experience</span>
                            <h5>1-3 Years</h5>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="jobTitle">
                            <span>Location</span>
                            <h5>Melbourne VIC 3000, Australia</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accrdBtn">
                    <i class="fas fa-chevron-up"></i>
                  </div>
                </div>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="accrDrop">
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Expericence</h5>
                      <ul>
                        <li>1-3 Years</li>
                      </ul>
                    </div>
                    <div class="jobReq d-block d-md-none">
                      <h5 class="greeBar">Location</h5>
                      <ul>
                        <li>Mohali, India</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Job Responsibilities :</h5>
                      <ul>
                        <li>Lead android team & follow Agile methodology.</li>
                        <li>Developing Mobile Applications on the Android Platform.</li>
                        <li>Interacting with third-party APIs</li>
                        <li>Communicating with REST services, working with databases.</li>
                        <li>End-to-end Android application development.</li>
                        <li>Excellent command on Java.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Required Skills :</h5>
                      <ul>
                        <li>Strong knowledge of Android SDK, different versions of Android, and how to deal with
                          different screen sizes</li>
                        <li>Good understanding of working with REST Web Services</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Experience with offline storage, threading, and performance tuning.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Desired Skills</h5>
                      <ul>
                        <li>Experience in Kotlin, MVP, MVVM Design patterns.</li>
                        <li>Experience in Volley, Retrofit, RxJava.</li>
                        <li>Good understanding of Databases & SQLite in General</li>
                        <li>Familiarity with continuous integration tools such as Jenkins.</li>
                        <li>Knowledge of the open-source Android ecosystem and the libraries available for common tasks.
                        </li>
                        <li>Ability to understand business requirements and translate them into technical requirements.
                        </li>
                        <li>Familiarity with cloud message APIs and push notifications.</li>
                        <li>Good understanding of caching strategies and asynchronous calls.</li>
                        <li>Proficient understanding of code versioning tools, such as Git.</li>
                        <li>Good Communication Skills.</li>
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Telephone</h5>
                      <ul>
                        <li>+611300 709 345</li>
                        <!-- <li>+91 8054377604</li> -->
                      </ul>
                    </div>
                    <div class="jobReq">
                      <h5 class="greeBar">Email</h5>
                      <ul>
                        <li>rimon@attalla.com.au</li>
                        <li>Candidates who can join immediately would be preferred.</li>
                        <li>Note: If you are willing to apply on the above post, kindly add your live project’s Play
                          Store links in the resume.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>