<!-- top brands -->
<section class="section-spacing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h2 class="section-heading mb-5">Our Top Partner Brands!
                </h2>
            </div>
        </div>
        <!-- for mobile -->
        <div
            class="row g-3 row-cols-2 row-cols-lg-4 row-cols-md-3 g-lg-5 text-center my-0 align-items-center">
            <div class="col mt-3 mt-md-5">
                <a href="https://thetraxi.com/" target="_blank">
                    <img class="brand-img" class="brand-img" src="./../../../../assets/home/top-brands/the_traxi.webp">
                </a>
            </div>
            <div class="col mt-3 mt-md-5">
                <a href="https://www.potswork.com/" target="_blank">
                    <img class="brand-img" src="./../../../../assets/top_brands/potswork.png">
                </a>
            </div>
            <!-- <div class="col mt-3 mt-md-5">
                <a href="https://horsebnb.com/" target="_blank">
                    <img class="brand-img" src="./../../../../assets/top_brands/horsebnb.png">
                </a>
            </div> -->
            <div class="col mt-3 mt-md-5">
                <a href="https://stockware.com.au/app/home" target="_blank">
                    <img class="brand-img" src="./../../../../assets/home/top-brands/stockware-brand.webp">
                </a>
            </div>
            <!-- <div class="col mt-3 mt-md-5">
                <a href="" target="_blank">
                    <img class="brand-img" src="./../../../../assets/top_brands/iotech.png">
                </a>
            </div> -->
            <div class="col mt-3 mt-md-5">
                <a href="https://everlens.io/" target="_blank">
                    <img class="brand-img" src="./../../../../assets/home/top-brands/logo.webp">
                </a>
            </div>
            <div class="col mt-3 mt-md-5">
                <a href="https://play.google.com/store/apps/details?id=com.au.gonanny" target="_blank">
                    <img class="brand-img" src="./../../../../assets/home/top-brands/go_nanny.webp">
                </a>
            </div>
            <div class="col mt-3 mt-md-5">
                <a href="https://streamwisedi.com/" target="_blank">
                    <img class="brand-img" src="./../../../../assets/home/top-brands/streamwise-brand.webp">
                </a>
            </div>
            <div class="col mt-3 mt-md-5">
                <a href="https://play.google.com/store/apps/details?id=com.pocket_studio" target="_blank">
                    <img class="brand-img" src="./../../../../assets/home/top-brands/pocket_studio.webp">
                </a>
            </div>
        </div>

        <!-- <img class="logo-brands d-none d-md-block" src="./../../../../assets/top_brands/brands_logo.png"
            alt="logo brands"> -->
    </div>
</section>