<!-- process section starts -->
<section>
    <div class="processCol innerSpace" id="process">
        <div class="container">
            <div class="text-center mb-5">
                <span class="sub-text">HOW DO WE BUILD</span>
                <h2 class="sec-heading after-border text-black">The Process</h2>
            </div>
            <div class="processSteps d-none d-lg-block">
                <div class="processRow">
                    <div class="row justify-content-between">
                        <div class="col-lg-auto ">
                            <div class="btmtxt stepCol">
                                <span>STEP 2</span>
                            </div>
                            <div class="processCard cardBar">
                                <div class="processImg">
                                    <img src="../../../assets/img/development.svg">
                                </div>
                                <div class="processTitle">
                                    <h5>Development</h5>
                                </div>
                                <div class="processDesp">
                                    <p>After designing, we use best technology that ensures years of progressive
                                        development and offers security, stability and ease of use.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-auto ">
                            <div class="btmtxt stepCol">
                                <span>STEP 4</span>
                            </div>
                            <div class="processCard cardBar">
                                <div class="processImg">
                                    <img src="../../../assets/img/deployment.svg">
                                </div>
                                <div class="processTitle">
                                    <h5>Deployment</h5>
                                </div>
                                <div class="processDesp">
                                    <p>After getting a green signal from the quality analysis team, the deployment team
                                        quickly deploy the apps/website in the app stores & other marketplaces. And,
                                        also make sure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midBorder"></div>
                <div class="row  justify-content-between ">
                    <div class="col-lg-auto ">
                        <div class="stepCol">
                            <span>STEP 1</span>
                        </div>
                        <div class="processCard topBar cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/discover_design.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Discover & Design</h5>
                            </div>
                            <div class="processDesp">
                                <p>We start with the documentation of the website then gradually move to designing. We
                                    build stunningly beautiful designs with creative colour scheme and aesthetic appeal.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto ">
                        <div class="stepCol">
                            <span>STEP 3</span>
                        </div>
                        <div class="processCard topBar cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/testing_qa.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Testing & QA</h5>
                            </div>
                            <div class="processDesp">
                                <p>After the development, the developed product goes through rigorous testing & quality
                                    analysis process using various testing techniques that ensures that product run as
                                    smooth as in the hands of developers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-auto ">
                        <div class="stepCol">
                            <span>STEP 5</span>
                        </div>
                        <div class="processCard topBar cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/support.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Support 24x7</h5>
                            </div>
                            <div class="processDesp">
                                <p>As a service based company we know that there can be several post deployment issues
                                    to look after so we engaged with teams to quickly resolve and assist with any
                                    unforeseen circumstances 24x7.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="processSteps_sm d-block d-lg-none">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col">
                        <div class="stepCol">
                            <span>STEP 1</span>
                        </div>
                        <div class="processCard topBar cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/discover_design.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Discover & Design</h5>
                            </div>
                            <div class="processDesp">
                                <p>We start with the documentation of the website then gradually move to designing. We
                                    build stunningly beautiful designs with creative colour scheme and aesthetic appeal.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="stepCol">
                            <span>STEP 2</span>
                        </div>
                        <div class="processCard cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/development.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Development</h5>
                            </div>
                            <div class="processDesp">
                                <p>After designing, we use best technology that ensures years of progressive development
                                    and offers security, stability and ease of use.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="stepCol">
                            <span>STEP 3</span>
                        </div>
                        <div class="processCard  cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/testing_qa.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Testing & QA</h5>
                            </div>
                            <div class="processDesp">
                                <p>After the development, the developed product goes through rigorous testing & quality
                                    analysis process using various testing techniques that ensures that product run as
                                    smooth as in the hands of developers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" stepCol">
                            <span>STEP 4</span>
                        </div>
                        <div class="processCard cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/deployment.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Deployment</h5>
                            </div>
                            <div class="processDesp">
                                <p>After getting a green signal from the quality analysis team, the deployment team
                                    quickly deploy the apps/website in the app stores & other marketplaces. And, also
                                    make sure.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="stepCol">
                            <span>STEP 5</span>
                        </div>
                        <div class="processCard  cardBar">
                            <div class="processImg">
                                <img src="../../../assets/img/support.svg">
                            </div>
                            <div class="processTitle">
                                <h5>Support 24x7</h5>
                            </div>
                            <div class="processDesp">
                                <p>As a service based company we know that there can be several post deployment issues
                                    to look after so we engaged with teams to quickly resolve and assist with any
                                    unforeseen circumstances 24x7.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>