<!-- thank you section start -->
<section>
    <div class="thank-col sectionSpace">
        <div class="container">
            <div class="thanks-card">
                <div class="thanks-content">
                    <h1 class="thanks-text mb-4">Thank You!</h1>
                    <p>Our business team will get back to you very soon.<br class="d-none d-md-block"> For urgent
                        queries please mail us at&nbsp;
                        <a href="mailto:rimon@attalla.com.au" target="_blank">
                            <span class="small-heading text-secondary fw-bold">rimon@attalla.com.au</span>                                            
                        </a>
                    </p>
                    <a class="btn btn-lg btn-primary fw-600 banner-btn mt-4" (click)="homePage()">
                        <i class="fas fa-arrow-right me-2"></i>
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>