$color-primary: #ded4b7;
$color-black: #000;
$color-lite: #00d74708;
$white-lite: #fafafa;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #2b2b2b;
    overflow-x: hidden;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img_one,
.img_two {
    transition: all 500ms ease-in-out 0s;
}

// .nav-link:focus,
// .nav-link:hover {
//     color: #ded4b7 !important;
// }
.nav-link:visited {
    color: #ded4b7 !important;
}
.card-left,
.card-right {
    transition: all 0.4s;
    transform-origin: 50% 100%;
}
.teaser {
    background-color: red !important;
}

/* privacy policy */

.privacy-policy h3,
h4 {
    color: #000 !important;
    font-weight: 600;
}
.contact-title h4 {
    color: #000 !important;
}

.privacy-policy p {
    font-size: 14px;
    text-align: justify;
    font-weight: 600;
    color: gray;
}

.verticalsImage {
    background-color: $color-primary;
}

/* thank you section */

.thank-col {
    margin: 100px 0;
}

.thanks-card {
    box-shadow: 0px 0px 50px #0000000d;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 4px;
    padding: 180px 0;
    position: relative;
}

.thanks-content {
    position: relative;
    z-index: 2;
    color: #000;
    text-align: center;
}

.thanks-content h1 {
    color: #ded4b7;
}

.thanks-text {
    font-weight: 600;
    font-size: 6rem;
    line-height: 80px;
}

/* testtimonial slider */

.testSlider {
    background-color: #fafafa;
    padding: 50px 0;
}

.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-top {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.gallery-thumbs {
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-wrapper {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-thumbs .swiper-slide {
    height: auto;
    width: 100% !important;
    cursor: pointer;
}

.gallery-thumbs .swiper-slide-thumb-active .clientCol {
    box-shadow: 3px 5px 9px -1px rgb(0 0 0 / 10%);
}

.swiperRow {
    display: flex;
}

.clientCol {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

// sliders
.slick-slide {
    padding: 0 16px;
}
.slick-track {
    display: flex !important;
}
.slick-slide {
    display: flex !important;
    height: auto !important;
}
.slider-card {
    padding: 30px 20px;
}
.slider-card {
    background: #fbf9f5;
    padding: 40px;
    height: 100%;
    border-radius: 4px;
    transition: 250ms ease-in-out;
    border-bottom: 6px solid transparent;
    &:hover {
        background-color: #ffffff;
        box-shadow: 0px 15px 40px #00000014;
        transform: scaleX(1);
        border-bottom: 6px solid $primary-color;
    }
}
.service-slider {
    .slick-dots li button:before {
        content: "\f111";
        font-family: "Font Awesome 5 Pro";
        font-size: 12px;
        font-weight: 600;
    }
    .slick-dots li.slick-active button:before {
        content: "\f111";
        font-family: "Font Awesome 5 Pro";
        font-size: 12px;
        color: $primary-color;
        font-weight: 600;
    }
    .slick-dots li button:before {
        color: $primary-color;
    }
}
.brand-slider {
    padding: 20px 30px;
    background: #ffffff;
    box-shadow: 20px 40px 60px #00000008;
    border: 1px solid #d8d8d84d;
    .slide {
        .brand-logo {
            margin: 0 auto;
        }
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-prev:before,
    .slick-next:before {
        color: #228b224d;
    }
}
.marketplace-slider {
    .slider-card {
        width: 100%;
        background: #ffffff;
        box-shadow: 10px 20px 30px #0000001a;
    }
    .slick-prev {
        height: 30px;
        width: 28px;
        left: -40px;
        z-index: 999;
    }
    .slick-next {
        height: 30px;
        width: 28px;
        right: -40px;
        z-index: 999;
    }
    .slick-prev:before {
        content: "\f0a8";
        font-family: "Font Awesome 5 Pro";
        color: $primary-color;
        font-size: 26px;
        font-weight: 600;
    }
    .slick-next:before {
        content: "\f0a9";
        font-family: "Font Awesome 5 Pro";
        color: $primary-color;
        font-size: 26px;
        font-weight: 600;
    }
    .slick-dots li.slick-active button:before {
        color: #ded4b7;
    }
    .slick-track {
        display: flex !important;

        .slick-slide {
            height: auto !important;
        }
    }
}
.shadow-box {
    box-shadow: 10px 20px 40px #0000000a;
    padding: 20px;
    min-height: 100px;
    border-radius: 10px;
}
.shadow-box-2 {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #0000001a;
    // border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 14px 20px;
    height: 100%;
}
.shadow-box-circle {
    background-color: #fbf9f5;
    border-radius: 50%;
    padding: 10px;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    &:hover {
        box-shadow: 0px 3px 6px #0000001a;
        background-color: #ffffff;
    }
}
.clientImg {
    height: 60px;
    width: 60px;
    min-width: 60px;
    overflow: hidden;
    max-width: 70px;
    border-radius: 50%;
}

.clientImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.gallery-thumbs .swiper-wrapper .swiper-slide:not(:last-child) {
    margin-bottom: 40px;
}

.swiperbtn {
    position: relative;
    width: 100px;
    padding: 12px;
    margin-left: -15px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "" !important;
}

.swiper-button-white i {
    color: #000;
}

.mid-content .text {
    text-align: center;
}

/* changes */

.tabImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tabImg {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.position-relative.getEstimate {
    cursor: pointer;
}

.doCol {
    position: relative;
}

#scrollLine {
    position: relative;
    top: -120px;
    height: 1px;
    background: transparent;
    width: 100%;
}

.verticalCol .row > [class*="col"] {
    margin-top: 30px;
}

.verticalCol .row {
    margin-top: -30px;
}

.sectionSpace {
    padding: 0 0 70px;
}

.innerSpace {
    padding: 70px 0;
}

.mapCol {
    position: relative;
    box-shadow: 0 0 17px 2px rgb(0 0 0 / 12%);
}

.mapCol:before {
    content: "";
    position: absolute;
    border: 2px dashed #938c78;
    top: 40px;
    right: -22px;
    left: 30px;
    bottom: -22px;
    background-color: #00d74708;
    border-radius: 7px;
}

.form-group {
    position: relative;
}

.cc-picker-code-select-enabled {
    padding: 12px 5px 12px 9px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ced4da;
}

.cc-picker-code-select-enabled::after {
    top: 50%;
    right: 2px;
    transform: translate(0, -50%);
}

.g-recaptcha-contact > div {
    width: 100% !important;
    text-align: center;
}

.g-recaptcha-contact iframe {
    max-width: 303px !important;
}

input::-webkit-input-placeholder {
    /* Edge */
    font-size: 14px !important;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px !important;
}

input::placeholder {
    font-size: 14px !important;
}

textarea::-webkit-input-placeholder {
    /* Edge */
    font-size: 14px !important;
}

textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px !important;
}

textarea::placeholder {
    font-size: 14px !important;
}

.menuList ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuList ul li + li {
    margin-left: 30px;
}

.menuList ul li a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.headerCol {
    //    padding: 10px 0;
    transition: all 200ms ease-in-out;
    z-index: 55;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
}

.fixed.headerCol {
    background: #ffffff;
    box-: 0px 1px 10px rgb(0 0 0 / 40%);
}

.topSpace {
    margin-top: 75px;
}

.toggle i,
.closeBtn i {
    font-size: 30px;
    color: #ded4b7;
}

.footerLinks .form-row > [class*="col-"] ul li .text-default {
    margin-top: 15px;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
}

.bottomList {
    margin-top: 0;
}

.serviceCol .container .row > [class*="col"] {
    margin-bottom: 30px;
}

.heroCol {
    padding: 70px 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-service-row .slick-dots {
    bottom: -20px !important;
}

.mob-nav-ul {
    margin-bottom: 40px;
}

/* section spaces */

.testimonialCol.innerSpace {
    padding: 50px 0;
}

.featureCol.innerSpace {
    padding: 70px 0 40px;
}

.featureCol .row > [class*="col"] {
    margin-bottom: 30px;
}

.tabRow > [class*="col"] {
    margin-top: 40px;
}

.btmSpace {
    margin-bottom: 70px;
}

.devServiceCol .container > .row:last-child {
    padding-bottom: 0 !important;
}

.cc-picker-flag {
    margin-right: 0;
}

.cc-picker-code {
    font-size: 10px;
    padding-left: 2px;
}

.accordion > .card {
    overflow: visible;
    margin-bottom: 20px;
}

.jobAccord .card-header {
    background: #fff;
    border: 0;
    box-shadow: 0 0 14px 3px rgb(0 0 0 / 5%);
    padding: 0;
}

.customAccd {
    padding: 15px;
}

.card-header {
    box-shadow: 0 0 14px 3px rgb(0 0 0 / 12%);
}

.card {
    border: 0;
}

.jobDesp {
    display: flex;
    align-items: center;
}

.jobDesp img {
    margin-right: 25px;
}

.jobTitle span {
    color: #afafaf;
    font-size: 15px;
    line-height: 22px;
}

.jobTitle h5 {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.greeBar {
    position: relative;
}

.greeBar:before {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #ded4b7;
}

.accrDrop {
    margin-left: 30px;
}

.jobReq h5 {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 18px;
    font-weight: 600;
    margin: 0;
}

.jobReq ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jobReq ul li {
    position: relative;
    font-size: 15px;
}

.jobReq ul li:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #ded4b7;
}

.customAccd {
    position: relative;
    padding: 15px 20px;
}

.accrdBtn {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgb(82 74 74 / 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.accrdBtn i {
    font-size: 14px;
    color: #000;
    transition: all 600ms ease-in-out 0s;
}

.jobReq {
    margin-top: 30px;
}

.jobAccord .accordion > .card:last-child {
    margin-bottom: 0;
}

.card > .card-header > .customAccd[aria-expanded="false"] .accrdBtn i {
    transform: rotate(-180deg);
}

.processCard {
    background-color: #fbf9f5;
    border: 2px solid #ded4b7;
    padding: 25px;
    max-width: 330px;
    border-radius: 10px 40px 10px 40px;
    height: 100%;
}

.processImg {
    width: 40px;
}

.processRow {
    max-width: 800px;
    margin: 0 auto;
}

.processImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.processTitle h5 {
    margin: 15px 0;
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.processDesp p {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
}

.cardBar {
    position: relative;
}

.cardBar:before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 48px;
    border-left: 2px solid #938c78;
}

.cardBar:after {
    content: "";
    position: absolute;
    bottom: -60px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #938c78;
}

.topBar.cardBar:before {
    top: -50px;
}

.topBar.cardBar:after {
    top: -60px;
}

.midBorder {
    height: 2px;
    width: 73%;
    margin: 50px auto;
    border-bottom: 2px solid #938c78;
}

.stepCol span {
    display: block;
    text-align: center;
    color: #938c78;
    font-size: 14px;
}

.processSteps .row > [class*="col"] {
    position: relative;
}

.stepCol {
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translate(-50%, 0);
}

.btmtxt.stepCol {
    bottom: -90px;
    display: flex;
    align-items: flex-end;
}

.doCol .slick-service-row.slick-slider .slick-list {
    padding: 0px 0px 50px !important;
}

header.shrink .navbar-brand img {
    height: 40px;
}

a:hover {
    text-decoration: none;
}

input.form-control {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    letter-spacing: 0px;
    color: #000000cc;
    font-size: 13px;
    min-height: 42px;
}

input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ded4b7;
}

.lets-close i {
    float: right;
    font-size: 18px;
    cursor: pointer;
}

textarea.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ded4b7;
}

.bg-primary {
    background: #ded4b7 !important;
}
.bg-dark {
    background-color: #040404 !important;
}

.bg-primary-gradient {
    background: transparent linear-gradient(138deg, #efe6ca 0%, #ded4b7 100%) 0% 0% no-repeat padding-box;
}

/*--------------text------------*/

.text-primary {
    color: #000 !important;
}

.text-dark-primary {
    color: #ded4b7 !important;
}
.text-dark{
    color: #000000 !important;
}
.text-default {
    color: #2b2b2b !important;
}

.text-grey {
    color: #606060 !important;
}

.text-light-grey {
    color: #afafaf !important;
}

.text-black {
    color: #000 !important;
}

/* -------------font weights--------------- */

.fw-600 {
    font-weight: 600 !important;
}

/* --------------------------------------- */

/* -------Ellipsis----- */

.three-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ---------------------------------------- */

.bg-lite {
    background-color: #fafafa !important;
    z-index: 0;
    position: relative;
}
.bg-pharma {
    background: transparent linear-gradient(128deg, #96c51f 0%, #0262ae 100%) 0% 0% no-repeat padding-box;
    z-index: 0;
    position: relative;
}

.btn-success {
    background-color: #ded4b7;
    border-color: #ded4b7;
    color: #000;
    box-shadow: none !important;
}
.btn-light{
    background-color: #ffffff !important;
}
.primary-heading {
    font-weight: 600;
    font-size: 50px;
    color: #000;
}

.primary-heading div {
    overflow: hidden;
}

.primary-heading div span {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.sub-text {
    color: #938c78;
    font-size: 16px;
    letter-spacing: 0.36px;
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
}

.xl-bold {
    font-size: 100px;
    color: #f3f3f3;
    font-weight: 700;
}

.font-inherit {
    font-size: inherit !important;
}

.font-small {
    font-size: 14px;
}

.font-mini {
    font-size: 12px;
}

.font-medium-bold {
    font-size: 18px;
    font-weight: 600;
}

.grow {
    line-height: 38px;
    word-spacing: 10px;
    font-size: 25px;
    /* font-weight: 700!important; */
}

.grow + p {
    font-size: 18px;
}

.lh-30 {
    line-height: 30px;
}

.banner-img {
    position: relative;
}

.shapes-bg {
    background-image: url("../../../assets/banner_bg_fill.png"), url("./../../../assets/banner_bg_outline.png");
    background-repeat: no-repeat no-repeat;
    background-position: 50% 23%, 15% 75%;
    background-size: 5%, 10%;
}

.banner-img img:first-child {
    position: absolute;
    z-index: -1;
    top: -11%;
    width: 50%;
    left: 10%;
}

.right-iot-bg {
    background-image: url("./../../../assets/banner_bg_outline.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right top;
}

.iot-right-arw {
    position: absolute;
    bottom: 3%;
    right: -50%;
}

.iot-left-arw {
    position: absolute;
    bottom: 3%;
    left: -50%;
}

.left-iot-bg {
    background-image: url("./../../../assets/banner_bg_outline.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left top;
}

.mid-content {
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.we-deliver {
    position: relative;
    z-index: 5;
}

.wrap {
    white-space: nowrap;
}
.common-img {
    object-position: center;
    object-fit: cover;
}
// Headings
.main-heading {
    font-size: 18px;
    color: $primary-color;
    font-weight: 500;
}
.secondary-heading {
    font-size: 1rem;
    color: $primary-color;
    font-weight: 500;
}
.third-heading {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.small-heading {
    font-size: 14px;
    color: $primary-color;
    font-weight: 500;
}
.details-heading {
    font-size: 16px;
    color: $secondary-color;
    font-weight: 500;
}
.small {
    font-size: 12px;
    font-weight: 500;
}
.section-heading {
    font-size: 2.1rem;
    font-weight: 700;
    color: $secondary-color;
    position: relative;
    display: inline-block;
    padding: 0 4px;
    // &::after {
    //     content: "";
    //     background-color: $primary-color;
    //     position: absolute;
    //     width: 150px;
    //     height: 6px;
    //     left: 50%;
    //     transform: translate(-50%, 0);
    //     bottom: -12px;
    //     border-radius: 24px;
    // }
}
.contact-bg {
    position: relative;
    &::before {
        content: "";
        background-color: #fafafa;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 40px;
    }
}
.sec-heading {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

// .sec-heading::after {
//     content: "";
//     width: 100%;
//     position: absolute;
//     border-bottom: 10px solid #ded4b7;
//     bottom: 5px;
//     left: 0;
//     z-index: -1;
// }

.no-after::after {
    content: "";
    display: none;
}

/* btn animation */

.btn-11 {
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    opacity: 0.7;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.circle {
    animation: circleDot 0.8s infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes circleDot {
    from {
        transform: translate(956px, 999px);
    }
    to {
        transform: translate(956px, 975px);
    }
}

@-webkit-keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

header .nav-item.active .nav-link {
    color: #00d747 !important;
}

.estimate-btn {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border: 1px solid #ded4b7;
    border-radius: 2px;
    animation-name: bounce-2;
    animation-timing-function: ease;
    animation-duration: 1s;
    position: relative;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    color: #000;
}

.estimate-btn:hover {
    animation: none;
}

.banner-btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    color: #000;
}

.our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.shadow-box {
    box-shadow: 10px 20px 40px #0000000a;
    border-radius: 10px;
    padding: 24px 24px;
}

.service-box {
    text-align: center;
    padding: 40px;
    background-color: #fbf9f5;
    transition: all 0.4s;
    height: 100%;
    position: relative;
    border-bottom: 6px solid transparent;
    min-height: 380px;
}

.service-box h4 {
    font-size: 1.2rem;
    color: #938c78 !important;
    font-weight: 500;
    margin: 1rem 0;
}

.service-box p {
    font-size: 14px;
    line-height: 24px;
}

.service-box:hover {
    box-shadow: 0px 15px 40px #00000014;
    border-radius: 4px;
    // transform: scale(1.03);
    background-color: #fff;
}

.service-box::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 6px solid #ded4b7;
    right: 0;
    left: 0;
    bottom: -6px;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.service-box:hover::after {
    transition: transform 250ms ease-in-out;
    transform: scaleX(1);
}

.grad-box {
    padding: 20px;
    min-height: 270px;
    color: #fff;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grad-box.box1 {
    // background: transparent radial-gradient( closest-side at 11% -23%, #4c02f1 0%, #4b02ef 1%, #3802c3 13%, #29029e 25%, #1c037f 38%, #120367 51%, #0b0357 65%, #07034d 81%, #06044a 100%);
    background-color: $color-primary;
    flex-direction: column-reverse;
}

.grad-box.box2 {
    background-color: $color-primary;
    //    background: transparent radial-gradient( closest-side at 58% 32%, #0b335d 0%, #030f47 64%, #01013f 100%);
}

.grad-box.box3 {
    background-color: $color-primary;
    //    background: transparent linear-gradient( 325deg, #45108a 2%, #3d065f 29%, #12054e 100%, #10054d 100%);
}

.grad-box h5 {
    font-size: 18px;
    font-weight: 500;
}

.grad-box p {
    font-size: 14px;
    font-weight: 400;
}

.grad-box img {
    transition: all 0.4s;
}

.grad-box:hover img {
    transform: scale(1.1);
}

.portfolio .slick-dots {
    display: inline-flex;
    left: 95%;
    flex-direction: column;
    top: 50%;
}

.portfolio .slick-dots li {
    border: 1px solid gainsboro;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: gainsboro;
    font-size: 12px;
    margin-bottom: 6px;
}

.portfolio .slick-dots li.slick-active {
    border: 1px solid #ded4b7;
    color: #ded4b7;
}
.portfolio .slick-dots li.slick-active:hover {
    border: 1px solid #ded4b7;
    color: #000;
}
.portfolio .slick-slide img {
    object-fit: contain;
}

.slick-dots li:last-child {
    margin-bottom: 0;
}

.portfolio .nav-pills .nav-link.active {
    color: #000 !important;
    background-color: #ded4b7;
}

.portfolio .nav-pills .nav-link {
    color: #2b2b2b;
    background-color: #e8e8e8;
    text-align: center;
}

.portfolio li.nav-item:not(:last-child) {
    margin-right: 1.5rem;
}

.category-tabs .btn {
    margin: 0 12px;
    font-size: 14px;
    font-weight: 500;
}

.category-tabs .active {
    background-color: #ded4b7;
    color: #fff;
}

.cc-picker-code-list {
    z-index: 9999 !important;
}
// portfolio
.portfolio-section {
    .nav-link {
        color: #2b2b2b;
        background-color: #e8e8e8;
        text-align: center;
        margin: 0 14px;
        font-size: 16px;
        font-weight: 500;
        color: #2b2b2b;
        white-space: nowrap;
        min-width: 120px;
    }
}
// paragraph
.paragraph {
    font-size: 1rem;
    font-weight: 500;
    color: $secondary-color;
}
.paragraph-first {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
}
.page-heading {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}
.banner-shape {
    position: relative;
    background-color: #fff;
    min-height: 450px;
    padding: 50px 0;
    &::before {
        content: "";
        background-color: #fbf9f5;
        -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 0);
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &::after {
        content: "";
        background-color: $primary-color;
        -webkit-clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% 48%, 0 100%, 0 0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bg-icon-1 {
        position: absolute;
        bottom: -20px;
        left: 12%;
        z-index: 2;
        width: 200px;
    }
    .bg-icon-2 {
        position: absolute;
        top: 0;
        left: 40%;
        z-index: 2;
        width: 200px;
    }
    .bg-icon-3 {
        position: absolute;
        top: 0;
        right: 6%;
        z-index: 2;
        width: 250px;
    }
    .content-section {
        position: relative;
        z-index: 4;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .image-section {
        position: relative;
        z-index: 4;
        .banner-image {
            width: 100%;
            max-width: 450px;
            object-fit: contain;
        }
    }
}

.bg-traxi {
    width: 100%;
    background: transparent linear-gradient(113deg, #6665dd 0%, #0031a3 100%);
    color: #ffffff;
}
.bg-gonanny {
    width: 100%;
    background: transparent linear-gradient(0deg, #ef476f 0%, #ff6388 100%);
    color: #ffffff;
}
.bg-pocket-studio {
    width: 100%;
    background: transparent linear-gradient(113deg, #afe7c0 0%, #8aecff 100%);
    color: #000000;
}
.bg-stockware {
    width: 100%;
    background: transparent linear-gradient(115deg, #ff4b55 0%, #ff2935 100%);
    color: #ffffff;
}
.bg-everlens {
    width: 100%;
    background: transparent linear-gradient(293deg, #864ef3 0%, #e75fdc 100%);
    color: #fff;
}
.bg-sevenearth {
    width: 100%;
    background: transparent linear-gradient(105deg, #BF24C6 0%, #A10095 100%);
    color: #fff;
}
.bg-nftit {
    width: 100%;
    background: transparent linear-gradient(106deg, #E478DD 0%, #EA53B4 33%, #4471C3 67%, #49AADB 100%);
    color: #fff;
}
// modals
.modal-backdrop {
    z-index: 99999 !important;
}
.modal-content {
    z-index: 9999999 !important;
}
modal-container.modal.fade.show {
    z-index: 99999999;
}
.modal-header {
    position: relative;
    padding: 30px 20px;
    .close-btn {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
    }
}
.content-box {
    height: 100%;
    padding: 20px 30px;
    background: #ffffff0a;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.detail-text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iti {
    display: block !important;
}
.info-section {
    padding: 40px 0;
    background-color: #938c78;
    color: #fff;
    box-shadow: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 0px 120px;
    margin: 0px 0 70px;
    background-size: 17%;
    background-image: url("../../../assets/paper_image.png");
    background-repeat: no-repeat;
    background-position: 75% top;
}

.info-section h3:after {
    content: "+";
    color: #fff;
    font-size: 20px;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 3px;
    background: #ded4b7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

.container-timeline {
    padding: 30px 60px;
    position: relative;
    background: inherit;
    width: 50%;
}

.container-timeline.left {
    left: 0;
}

.container-timeline .icon {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 30px;
    right: -30px;
    padding: 9px 0;
    background: #ded4b7;
    border: 5px solid #ded4b7;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    z-index: 1;
}

.container-timeline.right .icon {
    left: -30px;
}

.container-timeline .date {
    position: absolute;
    display: inline-block;
    height: 30px;
    min-width: 60px;
    top: 45px;
    padding: 6px 8px;
    background: #e94b3c;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    z-index: -1;
}

.container-timeline.left .date {
    right: -86px;
    border-radius: 0 30px 30px 0;
}

.container-timeline.right .date {
    left: -86px;
    border-radius: 30px 0 0 30px;
}

.container-timeline.right::before {
    left: 28px;
    border-color: transparent transparent transparent #e94b3c;
}

.container-timeline .content {
    padding: 30px 30px;
    background: #ffffff;
    position: relative;
    border: 1px solid #ded4b7;
}

.container-timeline.right .content {
    border-radius: 0 500px 500px 500px;
}

.container-timeline .content h2 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    right: 5%;
    top: -4%;
    z-index: 5;
    width: 380px;
}

.container-timeline .content p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #454545;
}

/* -------------------------------------------------------- */

.banner {
    position: relative;
    padding: 70px 0;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: #ded4b7;
    z-index: -1;
}

.bannerShape {
    position: relative;
    bottom: 58px;
}

.bannerShape:before {
    content: "";
    position: absolute;
    top: 63%;
    bottom: 3%;
    left: 0;
    right: 0;
    background: white;
    z-index: 5;
    transform: rotate(-5deg);
    margin: 0 -25px;
}

.bannerShape:after {
    content: "";
    position: absolute;
    top: 60%;
    bottom: 10%;
    left: 0;
    right: -5px;
    background: #fbf9f5;
    z-index: 1;
    transform: rotate3d(1, 1, 1, -11deg);
    margin: 0 -25px;
}

.bannerImg {
    position: relative;
    z-index: 5;
    max-width: 450px;
    margin-left: auto;
}

.bannerImg img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.polygon {
    position: absolute;
}

.pol3 {
    left: 12%;
    bottom: 18%;
    z-index: 5;
    width: 200px;
}

.pol1 {
    left: 40%;
    top: 5%;
}

.pol2 {
    right: 5%;
    top: -4%;
    z-index: 5;
    width: 230px;
}

.table.no-border td,
.table.no-border td {
    border: none;
}

.job-table tr:nth-child(odd) {
    box-shadow: 4px 8px 16px #0000000f;
    border-radius: 6px;
}

.job-table tbody tr td:nth-child(2) {
    width: 50px;
}

.job-table .collapsed img.rotate {
    transform: rotate(-180deg);
    transition: all 0.4s;
}

.job-table ul li::before {
    content: "\2022";
    color: #ded4b7;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.highlight {
    position: relative;
    margin-bottom: 1rem;
}

.highlight::after {
    content: "";
    width: 40px;
    border-bottom: 2px solid #ded4b7;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/* ------------Market place----------- */

.mobile-banner {
    height: 500px;
}

.iot-banner {
    width: 100%;
    object-fit: contain;
    height: 400px;
}

.mobile-banner img:first-child {
    left: auto;
    right: 10%;
}

.nav-marketplace .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
}

.nav-marketplace .nav-link.active {
    color: #ded4b7;
    background-color: transparent !important;
}

.nav-marketplace li.nav-item {
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-right: none;
    padding: 16px 26px;
}

.nav-marketplace li.nav-item:last-child {
    border-right: 1px solid #e5e5e5;
}

.unique-marketplace {
    background: transparent linear-gradient(254deg, #938c78 0%, #ded4b7 100%) 0% 0% no-repeat padding-box;
}

.services-slider {
    display: flex;
}

.round-img img {
    width: 100%;
    height: 100%;
}
.portfolio-img {
    width: 100%;
    max-width: 500px;
}
.round-img {
    height: 60px;
    width: 60px;
    min-width: 60px;
    overflow: hidden;
    max-width: 70px;
    border-radius: 50%;
}

.slider-main {
    width: 100%;
}

.services-slider .slick-track {
    margin-left: 50px;
}

.social-icons {
    .location-img,
    .gmail-img,
    .whatsapp-img,
    .skype-img,
    .call-img {
        background: url("./../../../assets/small_size_icons.webp") no-repeat;
        background-size: 30px 300px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        display: inline-block;
    }
    .call-img {
        background-position: 0 -59px;
    }
    .skype-img {
        background-position: 0 0;
    }
    .whatsapp-img {
        background-position: 0 -29px;
    }
    .gmail-img {
        background-position: 0 -209px;
    }
    .location-img {
        background-position: 0 -88px;
    }
}
.form-label {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-color;
}
.form-section {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 40px 30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 10px solid #ded4b7;
    border-bottom: 10px solid #ded4b7;
}

.brands h2.rounded-0.fw-600.text-center.pb-3.text-uppercase {
    font-size: 20px;
}
/* ----------------------- */

@media (max-width: 767.98px) {
    .frontpage-client-slick .section {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .no-md-after::after {
        content: "";
        display: none;
    }
    .timeline::after {
        left: 60px;
    }
    .container-timeline.left .icon,
    .container-timeline.right .icon {
        width: 20px;
        height: 20px;
        top: 37.5px;
        font-size: 18px;
        left: 47.5px;
        padding: 0;
    }

    .container-timeline.left .date,
    .container-timeline.right .date {
        right: auto;
        left: 15px;
        border-radius: 30px 0 0 30px;
    }
    .container-timeline.left .content,
    .container-timeline.right .content {
        border-radius: 0 60px 0px 60px;
    }
    .portfolio-section {
        .nav {
            justify-content: space-between !important;
        }
        .nav-link {
            padding: 10px 22px;
            margin: 0 !important;
        }
        .nav-item {
            flex-basis: 46%;
        }
    }
    .main-heading {
        font-size: 16px;
    }
    .contact-bg {
        &::before {
            top: 65px;
        }
    }
    .section-heading {
        font-size: 1.5rem;
        &::after {
            width: 100px;
        }
    }
}

@media (max-width: 340px) {
    .top-brand {
        font-size: 14px;
    }
}

.contact {
    position: relative;
}

.contact:before {
    content: "";
    position: absolute;
    top: 6%;
    right: 0;
    bottom: 6%;
    left: 0;
    background: #fafafa;
}

.contact-row {
    position: relative;
}

.contact-heading {
    color: #000000;
    line-height: 5rem;
    text-transform: uppercase;
    opacity: 0.05;
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-form {
    box-shadow: 0px 0px 50px #0000000d;
    border-radius: 10px;
    padding: 40px 30px;
    background-color: #fff;
    //    background-image: url(../assets/logo_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.brands {
    box-shadow: 20px 40px 60px #00000008;
    border: 1px solid #d8d8d84d;
    position: relative;
    padding: 40px 60px;
}

.let-after {
    position: relative;
}

.let-after:after {
    content: "";
    width: 50px;
    border-bottom: 2px solid #ded4b7;
    bottom: -11px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.top-brand {
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-service-row .service-box {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slick-service-row .service-box h4 {
    font-weight: 500;
    margin: 1rem 0;
}

.slick-service-row #slide-btn {
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
    z-index: 9;
}

.slick-service-row .slick-slide {
    padding: 0 15px;
}

.slick-service-row .slick-dots li button:before,
.main-container .slick-dots li button:before {
    font-size: 36px;
}

.slick-service-row .slick-dots li.slick-active button:before,
.main-container .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #ded4b7;
}

.slick-service-row .slick-dots {
    bottom: 10px;
}

.main-container .slick-dots {
    bottom: -50px;
}

.slick-brands .slick-slide {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.other-data {
    padding: 40px 0;
    background-color: #938c78;
    color: #fff;
}

.other-data img {
    height: 50px;
}

.other-data h4 {
    margin-bottom: 0px;
}

.other-data span {
    font-size: 12px;
    font-weight: 600;
}

.callTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid #938c78;
}

.contactDiv a {
    display: inline-block;
    text-align: center;
}

.inquiryCol h3 {
    display: flex;
    align-items: center;
}

footer h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
    text-transform: uppercase;
}

footer a {
    cursor: pointer;
}

footer .copyright {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 1rem 0;
}

footer .copyright ul li + li {
    margin-bottom: 0;
    margin-left: 1.5rem;
}

/* whatsapp icon */

.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: 15px;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

/* ------------ */

.white-arrow {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: left;
    animation-fill-mode: forwards;
}

/* responsive starts */

@media (max-width: 1366px) {
    .contact-heading {
        font-size: 65px;
        line-height: 70px;
    }
    .mt-ul {
        margin-top: 30px !important;
    }
    .midBorder {
        width: 71%;
    }
    .slick-service-row .service-box {
        min-height: 410px;
    }
}

@media (max-width: 1199px) {
    .pol2 {
        right: -4%;
        width: 200px;
    }
    .bannerImg {
        width: 330px;
    }
    .font-small {
        font-size: 12px;
    }
    .processCard {
        max-width: 260px;
    }
    .stepCol {
        top: -26%;
    }
    .processRow {
        max-width: 600px;
    }
}

@media (max-width: 991px) {
    .banner-shape {
        // &::before {
        //     content: "";
        //     background-color: #98e698;
        //     -webkit-clip-path: polygon(100% 0, 100% 70%, 0 96%, 0 0);
        //     clip-path: polygon(100% 0, 100% 70%, 0 96%, 0 0);
        //     position: absolute;
        //     top: 60px;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        // }
        // &::after {
        //     content: "";
        //     background-color: $primary-color;
        //     -webkit-clip-path: polygon(100% 0, 100% 69%, 0 96%, 0 0);
        //     clip-path: polygon(100% 0, 100% 69%, 0 96%, 0 0);
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        // }
        .content-section {
            align-items: center;
        }
        // .image-section {
        //     position: relative;
        //     z-index: 4;
        //     .banner-image {
        //         width: 100%;
        //         max-width: 450px;
        //     }
        // }
    }
    .contact:before {
        display: none;
    }
    .contact {
        background-color: #fafafa;
        padding: 50px 0;
    }
    .contact-form {
        margin-top: 70px;
    }
    .pol3 {
        width: 140px;
    }
    .pol1 {
        width: 110px;
    }
    .pol2 {
        right: 6%;
        width: 160px;
        top: 11%;
    }
    .primary-heading {
        font-size: 40px;
    }
    .bannerShape:before {
        bottom: 15%;
    }
    .bannerShape:after {
        bottom: 18%;
    }
    .banner:before {
        bottom: 25%;
    }
    .bannerImg {
        width: 300px;
        margin: 0 auto;
    }
    .menuList {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #ffff;
        transform: translate(-100%, 0);
        transition: all 500ms ease-in-out 0s;
    }
    .menuList ul {
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        max-height: 100%;
        overflow-y: auto;
        padding: 160px 0 200px;
    }
    .menuList ul li + li {
        margin-left: 0;
        margin-top: 30px;
    }
    .opennav .menuList {
        transform: translate(0, 0);
    }
    .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menuList ul li a {
        font-size: 18px;
    }
    .serviceCol .container .row > [class*="col"]:last-child {
        margin-bottom: 0;
    }
    .sec-heading {
        font-size: 35px;
        color: #938c78 !important;
    }
    .solutionCol .row {
        padding: 20px 0 !important;
    }
    .accrdBtn {
        right: 10px;
    }
    .cardBar:after,
    .cardBar:before {
        display: none;
    }
    .stepCol {
        position: static;
        transform: translate(0, 0);
        margin-bottom: 20px;
    }
    .processSteps_sm .row > [class*="col"] {
        margin-bottom: 80px;
    }
    .processCard {
        max-width: 100%;
    }
    .stepCol span {
        font-size: 18px;
    }
    .brands {
        text-align: center;
        border: 0;
        padding: 0 30px 30px;
    }
    .top-brand {
        transform: translateX(0);
        position: static;
        margin-bottom: 20px;
    }
    .contact.btmSpace {
        margin-bottom: 0;
    }
    .other-data .container > .row > [class*="col"] {
        margin-bottom: 30px;
    }
    .clientCol {
        margin: 0 auto 20px;
    }
    .reviewCol {
        margin-bottom: 20px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: -6px !important;
    }
    .page-heading {
        font-size: 2.4rem;
    }
}

@media all and (max-width: 767px) {
    img.img_two.mobile-banner,
    .iot-banner,
    .phone-banner {
        opacity: 1;
        z-index: initial;
    }
    .info-section {
        background-size: 200px;
    }
    .whats-app {
        bottom: 110px;
    }
    iframe#launcher {
        bottom: 50px !important;
    }
    .no-md-after::after {
        display: none;
    }
    h3.h1 {
        font-size: 32px;
    }
    .page-heading {
        font-size: 1.8rem;
    }
    .dynamic-text {
        height: 35px;
        margin-top: 20px;
    }
    .contact-form {
        padding: 40px 15px;
    }
    .contact-heading {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    .info-section {
        border-radius: 0 70px;
    }
    .info-section h3 {
        font-size: 1.3rem;
    }
    .info-section span {
        font-size: 12px;
    }
    .our-clients div {
        margin-bottom: 26px;
    }
    .primary-heading {
        margin-bottom: 30px;
    }
    .pol1 {
        width: 70px;
        top: 0%;
    }
    .pol2 {
        width: 120px;
    }
    .pol3 {
        width: 130px;
        bottom: 28%;
    }
    .footerLinks .form-row > [class*="col-"] > div {
        margin-bottom: 30px;
    }
    .footerLinks .form-row > [class*="col-"]:last-child > div {
        margin-bottom: 0;
    }
    .tabImg {
        padding: 0 15px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .primary-heading,
    .we-deliver,
    .sec-heading {
        font-size: 30px;
    }
    .service-box {
        padding: 20px;
    }
    /* spaces */
    .sectionSpace {
        padding: 0 0 40px;
    }
    .heroCol {
        padding: 30px 0;
    }
    .clientRow {
        margin: 40px 0 0;
    }
    .doCol.sectionSpace {
        padding: 0 0 40px;
    }
    .innerSpace {
        padding: 40px 0;
    }
    .info-section {
        margin: 60px 15px;
    }
    .container-timeline {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .timeline > .container-timeline {
        padding: 0 30px;
    }
    .timeline > .container-timeline:not(:last-child) {
        margin-bottom: 20px;
    }
    .timeline::after,
    .container-timeline .icon {
        display: none;
    }
    .text-center.mb-5 {
        margin-bottom: 20px !important;
    }
    .sec-heading.mb-5 {
        margin-bottom: 20px !important;
    }
    .text-black {
        font-size: 25px;
    }
    .iotVertical .row {
        padding: 20px 0 !important;
    }
    .iotService .row > [class*="col"] div {
        font-size: 18px;
    }
    .devServiceCol .row {
        padding: 20px 0 !important;
    }
    .banner-btn {
        display: table;
        margin: 0 auto;
    }
    .mapCol {
        margin-bottom: 30px;
    }
    .mobile-banner {
        height: 400px;
        margin-bottom: 30px;
    }
    .grow {
        word-spacing: 0;
        font-size: 18px;
        line-height: 25px;
    }
    .grow + p {
        font-size: 16px;
    }
    .unique-marketplace .text-white {
        font-size: 25px !important;
        line-height: 35px;
    }
    .accrdBtn {
        width: 25px;
        height: 25px;
    }
    .accrdBtn i {
        font-size: 12px;
    }
    .service-box h4 {
        font-size: 1rem;
    }
    div#ukFRALm-1615196208246 {
        position: relative !important;
        top: -62px !important;
        right: -80px !important;
        transform: scale(1) !important;
    }
    .clientdesp h6 {
        font-size: 20px;
    }
    .child h5 {
        font-size: 18px !important;
        line-height: 25px;
    }

    .marketplace-slider {
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
}

@media (max-width: 575px) {
    .mob-nav-ul {
        justify-content: space-between !important;
        padding: 0 15px;
    }
    .mob-nav-ul .nav-item {
        width: 40%;
        margin: 0 10px 10px;
    }
    .portfolio li.nav-item:not(:last-child) {
        margin-right: unset;
    }
    .mob-nav-ul .nav-item {
        width: 45%;
        margin: 0 10px 20px;
    }
    .portfolio li.nav-item:last-child {
        margin-right: 0 !important;
    }
    .portfolio li.nav-item a {
        font-size: 15px;
    }
    .processSteps_sm .row > [class*="col"] {
        margin-bottom: 70px;
    }
    .slick-service-row .slick-dots {
        bottom: -8px !important;
    }
    .slick-service-row .service-box {
        min-height: 300px;
    }
    .workCont {
        text-align: center;
    }
    .other-data .row[class*="col"] .form-row {
        max-width: 220px;
        margin: 0 auto;
    }
    .other-data .container > .row > [class*="col"]:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .polygon {
        display: none;
    }
    .banner {
        padding: 70px 0 50px;
    }
    .doCol .slick-service-row.slick-slider .slick-list {
        padding: 0px 0px 40px !important;
    }
}

@media (max-width: 414px) {
    .bannerImg {
        width: 250px;
    }
    .primary-heading {
        font-size: 24px;
        text-align: center;
    }
    .we-deliver {
        font-size: 24px;
        line-height: 40px;
    }
    // .logo {
    //     width: 160px;
    // }
    .logo img {
        width: 100%;
    }
    .toggle i {
        font-size: 26px;
    }
    .closeBtn i {
        font-size: 30px;
    }
    .tabRow > [class*="col"] {
        margin-top: 20px;
    }
    .mt-ul {
        text-align: center;
    }
    .greetxt {
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
    .our-clients {
        margin-bottom: 0;
    }
    .shapes-bg {
        background-position: 45% 12%, 15% 80%;
    }
}

@media (max-width: 375px) {
    .contactInner {
        flex-direction: column;
    }
    .contactInner .inquiryCol {
        width: 100%;
    }
    .contactInner .inquiryCol:last-child {
        margin-top: 30px;
    }
    .info-section {
        border-radius: 0px;
    }
    .contact-form {
        margin-top: 40px;
    }
    ul.list-unstyled li a,
    .copytext {
        font-size: 12px;
    }
    .social-icon {
        width: 30px;
    }
    .primary-heading,
    .we-deliver,
    .sec-heading {
        font-size: 23px;
    }
    .sec-heading {
        margin-bottom: 15px;
    }
    .unique-marketplace .text-white {
        font-size: 20px !important;
        line-height: 35px;
    }
    .info-section {
        margin: 20px 15px;
        background-image: none;
    }
    .info-section > div {
        flex-direction: column;
    }
    .info-section div + div {
        margin-top: 25px;
    }
    .our-clients {
        margin-bottom: 0;
    }
    .our-clients div:nth-child(2) {
        width: 140px;
    }
    .our-clients div img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .footer .copyright ul li + li {
        margin-left: 5px;
    }
    .bottomList li a {
        font-size: 12px;
    }
    .jobDesp img {
        margin-right: 15px;
        width: 45px;
    }
    .jobTitle span {
        font-size: 14px;
        line-height: 20px;
    }
    .jobTitle h5 {
        font-size: 15px;
        line-height: 20px;
    }
    .customAccd {
        padding: 15px;
    }
    .accrdBtn {
        width: 22px;
        height: 22px;
    }
    .card-body {
        padding: 0px;
    }
    .jobReq h5 {
        font-size: 15px;
    }
    .jobReq ul li {
        font-size: 14px;
        line-height: 20px;
    }
    .clientdesp h6 {
        font-size: 17px;
    }
    .heroCol .sub-text {
        text-align: center;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

@media all and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media all and (min-width: 1200px) {
    .we-deliver {
        white-space: nowrap;
    }
    .wrap {
        white-space: nowrap;
    }
    .frontpage-client-slick .section {
        height: 680px;
    }
    .grad-box img {
        height: 136px;
    }
    .main-container .slick-slide div.child {
        min-height: 435px;
    }
    header.shrink {
        position: fixed;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
        z-index: 9;
        transition-duration: 0.3s;
    }
    .modal-dialog {
        max-width: 560px;
    }
}

@media all and (min-width: 1441px) {
    .main-container .slick-slide div.child {
        min-height: 400px;
    }
    .frontpage-client-slick .section {
        height: 700px;
    }
    .d-xxl-none {
        display: none !important;
    }
    .d-xxl-block {
        display: block !important;
    }
    .grad-box img {
        height: 180px;
    }
    .grad-box.boxD img {
        height: 120px;
    }
}

@media all and (max-width: 768px) {
    img.img_two.mobile-banner,
    .iot-banner,
    .phone-banner {
        z-index: -1;
    }
    .iot-banner-1 {
        opacity: 1 !important;
    }
    .category-tabs {
        overflow-x: auto;
    }
    .nav-marketplace li.nav-item {
        border: 1px solid #e5e5e5;
        width: 50%;
    }
    .unique-marketplace h3 {
        font-size: 24px;
    }
    .reviewCol {
        text-align: center;
    }
    .reviewCol p {
        text-align: justify;
    }
}

.slideOutUp {
    animation: slideOutUp 1.2s ease-in infinite both !important;
}

.slideInUp {
    animation: slideInUp 1.2s ease-in infinite both !important;
}

.dynamic-text {
    list-style: none;
    position: absolute;
    overflow: hidden;
    height: 50px;
}

.pointer {
    cursor: pointer;
}

.mt-ul {
    margin-top: 90px;
}

.item {
    position: relative;
    top: 0;
    animation: move 5s infinite 1s;
    white-space: nowrap;
}

.item:first-child {
    color: #01baef;
}

.item:nth-child(2) {
    color: #f79256;
}

.item:nth-child(3) {
    color: #0fa3b1;
}

.item:nth-child(4) {
    color: #fe5f55;
}

.item:nth-child(5) {
    color: #b0db43;
}

@keyframes move {
    0% {
        top: 0px;
    }
    20% {
        top: -60px;
    }
    40% {
        top: -120px;
    }
    60% {
        top: -140px;
    }
    80% {
        top: -190px;
    }
}

@keyframes bounce-1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

#slide-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
}

#slide-btn a {
    position: relative;
    left: 0;
    transition: all 0.35s ease-Out;
    color: #ded4b7;
}

#dub-arrow {
    width: 100%;
    height: 100%;
    background: #ded4b7;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease-Out;
    bottom: 0;
}

#slide-btn img {
    width: 20px;
    height: auto;
}

#slide-btn:hover #dub-arrow {
    left: 0;
}

#slide-btn:hover a {
    left: 150px;
}

.mybutton {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #ded4b7;
    margin: 20px 20px 20px 20px;
    color: #ded4b7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.1px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media all and (max-width: 576px) {
    .mapCol:before {
        display: none;
    }
    .thanks-text {
        font-size: 3rem;
        line-height: 60px;
    }
    .thanks-card {
        padding: 20px 6px;
    }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    margin-right: 15px;
}

// Country Code CSS
@media (max-width: 1440px) {
    .phone {
        width: 386px;
    }
    @media (max-width: 1024px) {
        .phone {
            width: 310px;
        }
        @media (max-width: 768px) {
            .phone {
                width: 630px;
            }
            @media (max-width: 480px) {
                .phone {
                    width: 364px !important;
                }
            }
            @media (max-width: 375px) {
                .phone {
                    width: 315px !important;
                }
                @media (max-width: 320px) {
                    .phone {
                        width: 260px !important;
                    }
                }
            }
        }
    }
}
//modal country-code
@media (max-width: 1440px) {
    .modal-phone {
        width: 508px;
    }
    @media (max-width: 1024px) {
        .modal-phone {
            width: 448px;
        }
        @media (max-width: 768px) {
            .modal-phone {
                width: 447px;
            }
            @media (max-width: 480px) {
                .modal-phone {
                    width: 357px !important;
                }
            }
            @media (max-width: 375px) {
                .modal-phone {
                    width: 308px !important;
                }
                @media (max-width: 320px) {
                    .modal-phone {
                        width: 260px !important;
                    }
                }
            }
        }
    }
}
.btn-success:hover {
    color: #000;
    background-color: #938c78 !important;
    border-color: #938c78 !important;
}
.btn-success:focus {
    background-color: #ded4b7 !important;
}
.contact_form_btn:focus {
    background-color: #ded4b7 !important;
}
.about-heading {
    color: #938c78 !important;
}
@media (max-width: 320px) {
    .navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.1);
        margin-left: -24px;
    }
}
.portfolio-space {
    margin-top: 5rem !important ;
}
