<section class="bannerShape">
    <div class="banner contact-banner d-flex align-items-center topSpace">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="primary-heading  font-bold text-center text-md-left">
                        <span class="d-block">SERVICES</span>
                    </h1>
                </div>
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="../../../assets/img/services_banner.svg">
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../assets/img/polygon_three.svg" class="pol3 polygon">
        <img src="../../../assets/img/polygon_two.svg" class="pol1 polygon">
        <img src="../../../assets/img/polygon_three.svg" class="pol2 polygon">
    </div>
</section>
<!-- service section starts -->
<section>
    <div class="serviceCol sectionSpace">
        <div class="container">
            <div class="text-center mb-5">
                <span class="sub-text">WHAT WE DO</span>
                <h2 class="sec-heading after-border text-black">Our Services</h2>
                <p class="col-md-9 px-0 mx-auto">
                    Our offshore software development services are geared to deliver results that you expect from an
                    Indian IT outsourcing company. Truthfulness, transparency and collaborative approach is a start!
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 animatedParent" data-sequence='500'>
                <div class="col animated fadeInLeft" data-id='1'>
                    <div class="service-box">
                        <span class="medium-spr sprit1 service-icons"></span>
                        <!-- <img src="../../../assets/img/mobile_app.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Mobile Apps Development</h4>
                        <p class="service_paragraph">
                            We provide end to end mobile app development solutions and help you with design,
                            development, deployment and consistent support to make incremental improvement in the
                            product by resolving bugs & making enhancements.
                        </p>
                    </div>
                </div>
                <div class="col animated fadeInLeft" data-id='2'>
                    <div class="service-box">
                        <span class="medium-spr sprit2 service-icons"></span>
                        <!-- <img src="../../../assets/img/website_development.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Websites Development</h4>
                        <p class="service_paragraph">We build beautiful looking websites with aesthetic appeal,
                            responsive to screen of the user’s choice, laser fast speed, SEO friendly, easily scalable
                            and adaptive to the businessrequirements.</p>
                    </div>
                </div>
                <div class="col animated fadeInLeft" data-id='3'>
                    <div class="service-box">
                        <span class="medium-spr sprit3 service-icons"></span>
                        <!-- <img src="../../../assets/img/digital_marketing.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Digital Marketing</h4>
                        <p class="service_paragraph">We build beautiful looking websites with aesthetic appeal,
                            responsive to screen of the user’s choice, laser fast speed, SEO friendly, easily scalable
                            and adaptive to the business requirements.</p>
                    </div>
                </div>
                <div class="col animated fadeInRight" data-id='4'>
                    <div class="service-box">
                        <span class="medium-spr sprit4 service-icons"></span>
                        <!-- <img src="../../../assets/img/brand_identity.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Brand Identity</h4>
                        <p class="service_paragraph">Your brand is the mark of promise, reliability and credibility to
                            your customers. Our team helps you bring out the true identity of your brand and
                            strategically designs the graphic product.</p>
                    </div>
                </div>
                <div class="col animated fadeInRight" data-id='5'>
                    <div class="service-box">
                        <span class="medium-spr sprit5 service-icons"></span>
                        <!-- <img src="../../../assets/img/graphic_design.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Graphics Design</h4>
                        <p class="service_paragraph">It is the era of visual and virtual communication. Well researched
                            graphics and their placement, We infuse creativity and effectiveness in our designs backed
                            by extensive research and experience.</p>
                    </div>
                </div>
                <div class="col animated fadeInRight" data-id='6'>
                    <div class="service-box">
                        <span class="medium-spr sprit6 service-icons"></span>
                        <!-- <img src="../../../assets/img/cloud_service.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Cloud Services</h4>
                        <p class="service_paragraph">Cloud computing has created a technology revolution for small and
                            medium enterprises, giving access to a variety of capabilities that usually only big
                            corporations could afford. Small corporations can get into.</p>
                    </div>
                </div>
                <div class="col animated fadeInLeft" data-id='7'>
                    <div class="service-box">
                        <span class="medium-spr sprit7 service-icons"></span>
                        <!-- <img src="../../../assets/img/promotion_marketing.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Promotion & Marketing Services</h4>
                        <p class="service_paragraph">Each year, 90% of new products fail to succeed. Do you know why?
                            Because they either don’t invest in marketing and if they do, their marketing strategies go
                            haywire failing to gain mindshare of the consumer.</p>
                    </div>
                </div>
                <div class="col animated fadeInLeft" data-id='8'>
                    <div class="service-box">
                        <span class="medium-spr sprit8 service-icons"></span>
                        <!-- <img src="../../../assets/img/content_management.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Content Management Strategy</h4>
                        <p class="service_paragraph">Content is the King. Get the content that engages your target
                            audience and retain your prospects on your website for longer duration. Present your product
                            like a story that everyone wants to read. Get in touch with.</p>
                    </div>
                </div>
                <div class="col animated fadeInLeft" data-id='9'>
                    <div class="service-box">
                        <span class="medium-spr sprit9 service-icons"></span>
                        <!-- <img src="../../../assets/img/analytics_dashboard.svg" class="mb-3 service-icons"> -->
                        <h4 class="service_title">Analytics Dashboard</h4>
                        <p class="service_paragraph">Do you know who you should target for your products and services?
                            Are you targeting the right demographics? Are you targeting the right age group? At Attalla Digital, we give you all the answers about.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
   
</section>