.medium-spr{
    background: url("./../../../assets/sprite/medium_size_icons.webp") no-repeat;
    background-size: 80px 6500px;
    width: 90px;
    height: 80px;
    flex-shrink: 0;
    display: inline-block;
    background-position: 3px 3px;
}

span.medium-spr.sprit2.service-icons {
    background-position: 3px -84px;
}
span.medium-spr.sprit3.service-icons {
    background-position: 3px -160px;
}
span.medium-spr.sprit4.service-icons {
    background-position: 3px -243px;
}
span.medium-spr.sprit5.service-icons {
    background-position: 3px -324px;
}
span.medium-spr.sprit6.service-icons {
    background-position: 3px -402px;
}
span.medium-spr.sprit7.service-icons {
    background-position: 3px -483px;
}
span.medium-spr.sprit8.service-icons {
    background-position: 3px -563px;
}
span.medium-spr.sprit9.service-icons {
    background-position: 3px -644px;
}