.map-size {
    width: 100%;
    height: 260px;
}

.erroe {
    font-size: 12px;
}
.director-section {
    background-color: #ded4b75c;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}
