<!-- Banner section starts -->
<section class="bannerShape">
    <div class="banner contact-banner d-flex align-items-center topSpace">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="primary-heading   font-bold text-center text-md-left">
                        <span class="d-block">ABOUT US</span>
                        <span class="d-block">COMPANY STORY</span>
                    </h1>
                </div>
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="../../../assets/img/banner.svg">
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../assets/img/polygon_one.svg" class="pol3 polygon">
        <img src="../../../assets/img/polygon_two.svg" class="pol1 polygon">
        <img src="../../../assets/img/polygon_three.svg" class="pol2 polygon">
    </div>
</section>

<!-- Welcome Section Starts -->
<section>
    <div class="welcomeCol">
        <div class="container">
            <div class="text-center mb-5">
                <span class="sub-text">WELCOME TO ATTALLA DIGITAL</span>
                <h2 class="sec-heading no-after text-black">
                    We are a dynamic team of creative people & Marketing Expert.
                </h2>
            </div>
            <p class="d-inline-flex p-2">Headquartered in Melbourne, we are one of the fastest growing Mobile & Web
                Solutions organizations of Australia. We deliver innovative, compelling and responsive digital experiences
                supported by ROI driven marketing services. We are committed to helping our clients throughout their
                journey from idea generation to working on mobile & web application and then helping them market their
                services in the ever growing global market.</p><br>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-md-4 mb-lg-0">
                    <img src="../../../assets/img/image.webp" class="w-100">
                </div>
                <div class="col-lg-6">
                    <p>We believe people make the difference and therefore we have hired experts in the
                        fields of mobile application, website development, e-commerce, software development &
                        search engine optimisation. Our strengths are our people, values, innovation,
                        open mindset and efficiency. We continuously innovate so as to provide the best
                        in class IT consulting, mobile & website development, design and marketing services.</p>

                    <p>We help our clients explore the hidden potential of their products & services.
                        Our IT solutions have made businesses more powerful
                        across industry verticals by helping them make exceptional
                        IT solutions and by focusing on their core business.</p>

                    <p>Thank You.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Unique Section starts -->
<section>
    <div class="uniqueCol innerSpace">
        <div class="container">
            <h3 class="d-flex justify-content-center sec-heading no-after text-black mb-5">What Makes Us Unique</h3>
            <div class="row align-items-center mb-5">
                <div class="col-md-6">
                    <h4 class="sec-heading no-after fw-600 about-heading">Work Life Balance <sup class="pl-2">_____</sup>
                    </h4>
                </div>
                <div class="col-md-6">
                    <div class="shadow-box">
                        <p class="mb-0">Our employees enjoy a good work life balance. So if you are looking for an
                            organization
                            where you enjoy working but you still have time for your family, don’t look further.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-md-6 order-lg-2">
                    <div class="text-end">
                        <h4 class="sec-heading no-after fw-600 about-heading"><sup class="pr-2">_____</sup>Fun At
                            Work</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shadow-box">
                        <p class="mb-0">We at Attalla Digital enjoy our work. While all our employees work with
                            full dedication,
                            we also go out frequently to have food & fun together. We also have
                            team building activities in the office so that all the employees get to know each other
                            better.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-md-6">
                    <h4 class="sec-heading no-after fw-600 about-heading">Grow with Us<sup class="pl-2">_____</sup></h4>
                </div>
                <div class="col">
                    <div class="shadow-box">
                        <p class="mb-0">If you are passionate for your work, you will have enough opportunities
                            to grow organically in the company.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-md-6 order-lg-2">
                    <div class="text-end">
                        <h4 class="sec-heading no-after fw-600 about-heading"><sup class="pr-2">_____</sup>Challenge
                            Ourselves</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="shadow-box">
                        <p class="mb-0">We continuously try to improve performance, meet deadlines
                            and break our comfort barriers because we believe there is always a room for improvement.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h4 class="sec-heading no-after fw-600 about-heading ">Ethical & Transparent<sup
                            class="pl-2">_____</sup></h4>
                </div>
                <div class="col-md-6">
                    <div class="shadow-box">
                        <p class="mb-0">Last but most importantly, we are an ethical and transparent organization
                            and look for employees who have the same set of values embedded in them.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>