.client-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}
.star-rating {
    font-size: 24px;
    color: #fcad3a;
}
