<section>
    <div class="verticalCol bg-lite innerSpace" id="verticals">
        <div class="container mt-5">
            <div class="text-center mb-5">
                <span class="sub-text">YOU'LL LOVE IT</span>
                <h2 class="sec-heading after-border text-black">Verticals</h2>
            </div>
            <div class="row animatedParent animateOnce" data-sequence='500'>
                <div class="col-lg-6 animated fadeInLeft" data-id='1'>
                    <a [routerLink]="['./../app-development']" class="text-white">
                        <div class="grad-box d-flex box1 boxA">
                            <div class="align-self-end">
                                <h5 class="text-black">Mobile Apps Development</h5>
                                <p class="mb-0 font-small text-black">We deliver world class mobile apps for our clients
                                    across the
                                    globe
                                    with stunningly beautiful designs with wow user experience and ensures privacy, data
                                    storage
                                    at safe AWS servers.</p>
                            </div>
                            <div class="ms-auto">
                                <img src="../../../assets/img/mobile_apps.svg" height="180px">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6
                
                animated fadeInLeft" data-id='2'>
                    <div class="grad-box box2 boxB">
                        <div class="text-end">
                            <img src="../../../assets/img/e_commerce.svg" height="180px">
                        </div>
                        <div class="three-line-ellipsis mt-auto">
                            <h5 class="text-black">E-commerce Website</h5>
                            <p class="mb-0 font-small text-black"
                                title="We delivery user friendly e-commerce websites that ensures smooth user experience, easy browsing, simple checkouts, secure payments and real-time tracking.">
                                We delivery user friendly e-commerce websites that ensures smooth user experience, easy
                                browsing, simple checkouts, secure payments and real-time tracking.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 animated fadeInLeft" data-id='3'>
                    <a (click)="iotPage()" class="text-white">
                        <div class="grad-box box3 boxC">
                            <div class="text-end">
                                <img src="../../../assets/img/iot.svg" height="180px">
                            </div>
                            <div class="three-line-ellipsis mt-auto">
                                <h5 class="text-black">IOT</h5>
                                <p class="mb-0 font-small text-black"
                                    title="We have got expertise at delivering IoT dashboards that enables automation, data tracking, data collection and various other monitoring purposes.">
                                    We have got expertise at delivering IoT dashboards that enables automation, data
                                    tracking, data collection and various other monitoring purposes.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 animated fadeInRight" data-id='4'>
                    <div class="grad-box box2 boxD">
                        <div class="text-end">
                            <img src="../../../assets/img/qa.svg" height="130px">
                        </div>
                        <div class="mt-auto">
                            <h5 class="text-black">QA</h5>
                            <p class="mb-0 font-small text-black">We ensure that all the apps/website that we built
                                doesn’t go to
                                the
                                App store/Play store before going through a rigorous mechanism of proper quality
                                assurance,
                                stress testing, alpha/beta testing, etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6  animated fadeInRight" data-id='5'>
                    <a (click)="marketplacePage()" class="text-white">
                        <div class="grad-box d-flex box1 boxF">
                            <div class="align-self-end mt-3">
                                <h5 class="text-black">Marketplace</h5>
                                <p class="mb-0 font-small text-black">We create matchmaking marketplaces that enables
                                    peer to peer
                                    service transactions, connects buyers with the sellers.</p>
                            </div>
                            <div class="ms-auto">
                                <img class="verticalsImage mb-3" src="../../../assets/images/marketplace.svg"
                                    height="180px">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>