<div class="form-section mt-4 mt-lg-0">
    <!-- <h4 class="text-center lets-border mb-5 fw-600">Let's Get In Touch</h4> -->
    <h4 class="text-center lets-border mb-5 fw-600"[innerHtml]="formHeading"></h4>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter your name…" maxlength="30" [(ngModel)]="name"
            (keydown)="space($event)" #userName="ngModel" pattern="^[A-Za-z ]+$" required>
        <span *ngIf="userName?.invalid && userName?.errors?.pattern" class="d-block text-danger fs-12">Please
            enter
            valid name</span>
        <span *ngIf="!name" class="d-block text-danger fs-12">{{errorName}} </span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input type="email" class="form-control" placeholder="Enter your email address…" [(ngModel)]="email"
            #userEmail="ngModel" maxlength="70" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" required>
        <span *ngIf="userEmail?.invalid && userEmail?.errors?.pattern" class="d-block text-danger fs-12">Please
            enter
            valid email</span>
        <span *ngIf="!email" class="d-block text-danger fs-12">{{errorEmail}}</span>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <ng-container *ngIf="showNumber">
            <div class="tel-input">
                <input type="text" class="form-control number" ng2TelInput placeholder="Enter your phone number"
                    [(ngModel)]="phoneNumber" maxlength="13" [ng2TelInputOptions]="{initialCountry: 'au'}"
                    (hasError)="hasError($event)" minlength="7" (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                    #userPhone="ngModel" pattern='^[0-9]{7,13}$' required (keypress)="keyPressNumbers($event)" />
                <span *ngIf="userPhone?.invalid && userPhone?.errors?.pattern" class="d-block text-danger fs-12">Please
                    enter
                    valid phone number</span>
                <span *ngIf="!phoneNumber" class="d-block text-danger fs-12">{{errorPhone}}</span>
            </div>
        </ng-container>

    </div>
    <!-- <div class="mb-3">
                      <label class="form-label">Your Message</label>
                      <textarea class="form-control" rows="4" [(ngModel)]="message" #userMessage="ngModel"
                          placeholder="Tell us about your project in brief…" maxlength="200"></textarea>
                  </div> -->
    <div>
        <form [formGroup]="aFormGroup" class="g-recaptcha-contact d-flex justify-content-center">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha">
            </ngx-recaptcha2>
        </form>
        <span *ngIf="!aFormGroup.value.recaptcha" class="d-block text-danger text-center fs-12">{{errorCapcha}}</span>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-shadow py-2 mt-4 px-4" (click)="submitDetails()">
            GET IN TOUCH
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitData"></span>
        </button>
    </div>
</div>