<section class="pt-xl-4 mt-5">
    <div class="nft-bg">
        <div class="container">
            <div class="row justify-content-lg-between align-items-center justify-content-center">
                <div class="col-lg-5 text-center text-lg-start order-1 order-lg-0">
                    <div>
                        <h1 class="text-white display-6 fw-600 mb-0">
                            <span class="fs-18">Leading provider of</span><br>NFT Marketplace<br> Development
                            Service
                        </h1>
                        <p class="text-white mb-0 mt-3">
                            Let us help you create your dream NFT marketplace and get it started using revolutionary
                            blockchain technology.
                        </p>
                        <div class="d-flex justify-content-center justify-content-lg-start">
                            <button type="button" class="btn btn-info btn-lg mt-4 btn-animate text-white"
                                (click)="openLetTalksComponent()">TALK TO OUR EXPERTS
                                <span class="pulse-animation"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-8 order-0 order-lg-1 pb-4 d-block d-lg-none">
                    <img class="banner-img" src="./../../../assets/nft_assets/nftnew/banner_image.webp">
                </div>
            </div>
            <div class="mt-5 mb-4 cursor-pointer scroll-animation" (click)="scroll(target)">
                <div class="scroller"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-spacing" #target>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 mt-4 mb-lg-0 order-1 order-lg-0">
                <img class="nft-img" src="./../../../assets/nft_assets/nftnew/nft.webp">
            </div>
            <div class="col-lg-6 order-0 order-lg-1">
                <h2 class="section-heading fw-600 mb-3 mb-lg-5">Know more about NFT</h2>
                <p class="paragraph-first">
                    An NFT token is non-fungible, meaning one coin or token cannot be exchanged for another, unlike a
                    dollar bill. Because of this, it is unique and irreplaceable, just like vintage paintings like the
                    Mona Lisa.
                </p>
                <p class="paragraph-first">
                    In terms of technology, NFTs are a part of the Ethereum blockchain, and all their information, such
                    as prices, trading histories, meta data, and images is stored on the blockchain. NFT can be built
                    from anything digital, such as images, in-game assets, tweets, videos, and virtual items like
                    clothing, cars, and real estate.
                </p>
                <p>
                    NFT is a revolutionary technology and it marks the beginning of the Metaverse.
                </p>
                <button type="button" class="btn btn-info btn-lg mt-4 btn-animate text-white"
                    (click)="openLetTalksComponent()">
                    LET'S GET STARTED!
                    <span class="pulse-animation"></span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section-spacing">
    <div class="bg-bussiness">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 mt-0 pt-0">
                    <h2 class="section-heading fw-600 mb-5 text-center">
                        The following benefits make NFT technology attractive to digital businesses.
                    </h2>
                </div>
            </div>
            <div class="row g-3 g-lg-4 justify-content-center row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img"></span>
                                <!-- <img src="./../../../assets/nft_assets/ownership.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Ownership</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img2"></span>
                                <!-- <img src="./../../../assets/nft_assets/transferability.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Transferability</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img3"></span>
                                <!-- <img src="./../../../assets/nft_assets/create_economic.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Create economic opportunity</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img4"></span>
                                <!-- <img src="./../../../assets/nft_assets/bost_inclusive.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Boost inclusive growth</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img5"></span>
                                <!-- <img src="./../../../assets/nft_assets/authenticity.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Authenticity</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- nft marketplace -->
<section class="section-spacing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-0 pt-0">
                <h2 class="section-heading fw-600 mb-5 text-center">
                    Our expertise lies in building NFT Marketplaces for a diverse range of industries.
                </h2>
            </div>
        </div>
        <div class="row g-3 justify-content-center row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_instagram.webp">
                    <h5 class="market-text mb-0">NFT for<br> Instagram Posts</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/real_state.webp">
                    <h5 class="market-text mb-0">NFT for<br> Real Estates</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_videos.webp">
                    <h5 class="market-text mb-0">NFT for<br> Videos</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_games.webp">
                    <h5 class="market-text mb-0">NFT for<br> In-Game assets</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_music.webp">
                    <h5 class="market-text mb-0">NFT for<br> Music</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_images.webp">
                    <h5 class="market-text mb-0">NFT for<br> Images</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_trading_cards.webp">
                    <h5 class="market-text mb-0">NFT for<br> Trading Cards</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_memes.webp">
                    <h5 class="market-text mb-0">NFT for<br> Memes</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_sports.webp">
                    <h5 class="market-text mb-0">NFT for<br> Sports</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_visual_fashion.webp">
                    <h5 class="market-text mb-0">NFT for<br> Virtual Fashion</h5>
                </div>
            </div>
            <div class="col mt-3">
                <div class="position-relative text-center">
                    <img class="marketplace-img" src="./../../../assets/nft_assets/nftnew/for_tweets.webp">
                    <h5 class="market-text mb-0">NFT for<br> Tweets</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing">
    <div class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-0 pt-0 text-center">
                    <h2 class="section-heading fw-600 mb-5">
                        Providing a complete set of features to build your own NFT Marketplace.
                    </h2>
                </div>
            </div>
            <div class="row g-3 g-lg-4 justify-content-center row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2">
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img6"></span>
                                <!-- <img src="./../../../assets/nft_assets/equity.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Programmable equity</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img7"></span>
                                <!-- <img src="./../../../assets/nft_assets/fractionalization.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Fractionalization of larger assets</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img8"></span>
                                <!-- <img src="./../../../assets/nft_assets/liquidity.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Increase in liquidity</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img9"></span>
                                <!-- <img src="./../../../assets/nft_assets/automated.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Automated SEC compliance</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img10"></span>
                                <!-- <img src="./../../../assets/nft_assets/secure_wallet.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Secure wallet</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img11"></span>
                                <!-- <img src="./../../../assets/nft_assets/global_capital.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Global capital investment</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img12"></span>
                                <!-- <img src="./../../../assets/nft_assets/greater_market.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Greater market efficiency</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img13"></span>
                                <!-- <img src="./../../../assets/nft_assets/no_intermediaries.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">No intermediaries</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img14"></span>
                                <!-- <img src="./../../../assets/nft_assets/customized_blockchain.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Customized blockchain</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mt-lg-4 mt-3">
                    <div class="shadow-box-2">
                        <div class="d-flex align-items-center flex-column">
                            <div>
                                <span class="sprite-img sprite-img15"></span>
                                <!-- <img src="./../../../assets/nft_assets/tailored.svg"> -->
                            </div>
                            <div class="text-center mt-3">
                                <h5 class="secondary-heading text-dark">Tailored smart contracts</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-info text-white btn-lg mt-5 btn-animate"
                    (click)="openLetTalksComponent()">LET US
                    KNOW YOUR IDEA
                    <span class="pulse-animation"></span>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- tech stack -->
<section class="section-spacing">
    <div class="bg-techstack">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 mt-0 pt-0 text-center">
                    <h2 class="section-heading fw-600 mb-5">
                        The cutting-edge technology stack we will use to build the NFT marketplace.</h2>
                </div>
            </div>
            <div class="row g-3 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="blockchin-card">
                        <div class="mb-3">
                            <h5 class="fw-600 text-center mb-0">Blockchain Plateforms</h5>
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img16"></span>
                                    <!-- <img src="./../../../assets/nft_assets/blockchain_one.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img17"></span>
                                    <!-- <img src="./../../../assets/nft_assets/blockchain_two.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img18"></span>
                                    <!-- <img src="./../../../assets/nft_assets/blockchain_three.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img19"></span>
                                    <!-- <img src="./../../../assets/nft_assets/blockchain_four.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img20"></span>
                                    <!-- <img src="./../../../assets/nft_assets/blockchain_five.png"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="frontend-card mt-3">
                        <div class="mb-3">
                            <h5 class="fw-600 text-center mb-0">Front-end Frameworks</h5>
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img21"></span>
                                    <!-- <img src="./../../../assets/nft_assets/front_one.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img22"></span>
                                    <!-- <img src="./../../../assets/nft_assets/front_two.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img23"></span>
                                    <!-- <img src="./../../../assets/nft_assets/front_three.png"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="storage-card">
                        <div class="mb-3">
                            <h5 class="fw-600 text-center mb-0">Storage Plateforms</h5>
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img24"></span>
                                    <!-- <img src="./../../../assets/nft_assets/storage_one.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img25"></span>
                                    <!-- <img src="./../../../assets/nft_assets/storage_two.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img24"></span>
                                    <!-- <img src="./../../../assets/nft_assets/storage_one.png"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-standards-card mt-3">
                        <div class="mb-3">
                            <h5 class="fw-600 text-center mb-0">NFT Standards</h5>
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img26"></span>
                                    <!-- <img src="./../../../assets/nft_assets/nft_one.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img26"></span>
                                    <!-- <img src="./../../../assets/nft_assets/nft_two.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img27"></span>
                                    <!-- <img src="./../../../assets/nft_assets/nft_three.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img28"></span>
                                    <!-- <img src="./../../../assets/nft_assets/nft_four.png"> -->
                                </div>
                                <div class="col-4 mt-3">
                                    <span class="sprite-img sprite-img29"></span>
                                    <!-- <img src="./../../../assets/nft_assets/nft_five.png"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing">
    <div class="bg-choose">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-4">
                    <h2 class="display-6 text-white fw-600 mb-4">Benefits of working with us.</h2>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">
                        <!-- <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <img class="me-2" src="./../../../assets/nft_assets/experience.png">
                                <b class="secondary-heading fw-600 text-dark">5+ years of experience</b>
                            </div>
                        </div> -->
                        <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <span class="sprite-img-medium sprite-med"></span>
                                <!-- <img class="me-2" src="./../../../assets/nft_assets/time_delivery.png"> -->
                                <b class="secondary-heading fw-600 text-dark">On-time delivery</b>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <span class="sprite-img-medium sprite-med1"></span>
                                <!-- <img class="me-2" src="./../../../assets/nft_assets/high_quality.png"> -->
                                <b class="secondary-heading fw-600 text-dark">High-quality solution</b>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <span class="sprite-img-medium sprite-med2"></span>
                                <!-- <img class="me-2" src="./../../../assets/nft_assets/transparent.png"> -->
                                <b class="secondary-heading fw-600 text-dark">Transparent billing</b>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <span class="sprite-img-medium sprite-med3"></span>
                                <!-- <img class="me-2" src="./../../../assets/nft_assets/certified.png"> -->
                                <b class="secondary-heading fw-600 text-dark">Certified developers</b>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="nft-card d-flex align-items-center p-3">
                                <span class="sprite-img-medium sprite-med4"></span>
                                <!-- <img class="me-2" src="./../../../assets/nft_assets/client_retention.png"> -->
                                <b class="secondary-heading fw-600 text-dark">90% client retention</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- popular nft -->
<section class="section-spacing">
    <div class="bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-0 pt-0 text-center">
                    <h2 class="section-heading fw-600 mb-5">
                        Most Successful NFT Marketplaces</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row g-3 justify-content-center row-cols-xl-4 row-cols-lg-3 row-cols-2">
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes1"></span>
                                        <!-- <img src="./../../../assets/nft_assets/rariable.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Rariable</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes2"></span>
                                        <!-- <img src="./../../../assets/nft_assets/opensea.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">OpenSea</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes3"></span>
                                        <!-- <img src="./../../../assets/nft_assets/decentraland.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Decentraland</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes4"></span>
                                        <!-- <img src="./../../../assets/nft_assets/superrare.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">SuperRare</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes5"></span>
                                        <!-- <img src="./../../../assets/nft_assets/foundation.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Foundation</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes6"></span>
                                        <!-- <img src="./../../../assets/nft_assets/nifti.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Nifti Gateway</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes7"></span>
                                        <!-- <img src="./../../../assets/nft_assets/cryptokitties.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Cryptokitties</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-lg-4 mt-3">
                            <div class="shadow-box-light">
                                <div class="d-flex align-items-center flex-column">
                                    <div>
                                        <span class="sprite-img-succes sprite-succes8"></span>
                                        <!-- <img src="./../../../assets/nft_assets/atomic.png"> -->
                                    </div>
                                    <div class="text-center mt-3">
                                        <h5 class="secondary-heading text-dark">Atomic Market</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-spacing">
    <div class="bg-buid">
        <div class="container mt-4">
            <div class="d-flex flex-column align-items-center justify-content-center text-center">
                <!-- <div class="col-lg-6 py-5 "> -->
                <h2 class="section-heading fw-600 mb-4 w-lg-75">We'd love to help you get started with NFT development.
                </h2>
                <button type="button" class="btn btn-info text-white btn-lg mt-4 btn-animate shadow"
                    (click)="openLetTalksComponent()">
                    LET'S TALK
                    <span class="pulse-animation"></span>
                </button>
                <!-- </div> -->
                <!-- <div class="col-lg-5 mb-3 mb-lg-0">
                    <img class="nft-img" src="./../../../assets/nft_assets/build.png">
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- latest work -->
<section class="section-spacing">
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-9 mt-0 pt-0 text-center">
                <h2 class="section-heading fw-600 mb-5">Featured Work</h2>
            </div>
        </div>
        <div class="nft-slider">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig4">
                <div ngxSlickItem class="slide px-0">
                    <div class="bg-everlens bg-work">
                        <div class="container">
                            <div class="row justify-content-between align-items-lg-center">
                                <div class="col-lg-4 order-1 order-lg-0">
                                    <img class="portfolio-img" src="./../../../assets/nft_assets/nftnew/everlens_image.webp">
                                </div>
                                <div class="col-lg-5 mb-4 mb-lg-0 order-0 order-lg-1">
                                    <!-- <a href="https://everlens.io/" target="_blank"> -->
                                    <img class="mb-4" src="./../../../assets/nft_assets/nftnew/everlens_logo.webp">
                                    <!-- </a> -->
                                    <div>
                                        <p class="paragraph-first text-white fw-400">
                                            Everlens allows users to monetize their Instagram posts via an NFT
                                            marketplace on Binance Smart Chain. By linking their Instagram
                                            accounts,
                                            users can fetch their posts from Instagram and convert them into
                                            NFTs,
                                            place them on the marketplace, and begin receiving offers.
                                            Additionally,
                                            it offers a custom token, BEP 721, BEP 1155, Metamask wallet,
                                            Royalties,
                                            Token Transfers, Users Activity, and Wallet management.
                                        </p>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <img src="./../../../assets/nft_assets/web.svg" class="me-3">
                                        <a class="fs-14 fw-600 text-white" href="https://everlens.io/"
                                            target="_blank">https://everlens.io/</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide px-0">
                    <div class="bg-sevenearth bg-work">
                        <div class="container">
                            <div class="row justify-content-between align-items-lg-center">
                                <div class="col-lg-5">
                                    <img class="mb-4" src="./../../../assets/nft_assets/nftnew/sevenearth_logo.webp">
                                    <div>
                                        <p class="paragraph-first text-white fw-400">
                                            SevenEarth (on Ethereum), a physical and digital art gallery based out of
                                            California. Their art shows are being held in major US cities such as New
                                            York,
                                            Los Angeles, and beyond. In order to mint these physical arts into NFTs, we
                                            have
                                            built the technology infrastructure. Besides buying NFT from the website,
                                            users
                                            can scan QR codes while in the gallery to purchase NFT, which are then
                                            credited
                                            to their wallets after the completion of a decentralized transaction.
                                        </p>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <img src="./../../../assets/nft_assets/web.svg" class="me-3">
                                        <a class="fs-14 fw-600 text-white" href="https://sevenearth.io/"
                                            target="_blank">https://sevenearth.io/</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-4 mt-lg-0">
                                    <img class="portfolio-img" src="./../../../assets/nft_assets/nftnew/sevenearth.webp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngxSlickItem class="slide px-0">
                    <div class="bg-nftit bg-work">
                        <div class="container">
                            <div class="row justify-content-between align-items-lg-center">
                                <div class="col-lg-4 order-1 order-lg-0">
                                    <img class="portfolio-img" src="./../../../assets/nft_assets/nftnew/nftit.webp">
                                </div>
                                <div class="col-lg-5 mb-4 mb-lg-0  order-0 order-lg-1">
                                    <img class="mb-4" src="./../../../assets/nft_assets/nftnew/nftit_logo.webp">
                                    <div>
                                        <p class="paragraph-first text-white fw-400">
                                            NFTYIT is a unique platform that has leveraged revolutionary NFT technology
                                            to
                                            make adult models' content monetizable and help them access a huge network
                                            for
                                            promotion and exposure.
                                        </p>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <img src="./../../../assets/nft_assets/web.svg" class="me-3">
                                        <a class="fs-14 fw-600 text-white" href="https://nftyit.com/"
                                            target="_blank">https://nftyit.com/</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>

<!-- contact section starts -->
<section class="section-spacing pb-0">
    <div class="contact btmSpace" id="contact">
        <div class="container">
            <div class="row contact-row justify-content-between">
                <div class="col-md-12 col-lg-6">
                    <div>
                        <h2 class="contact-heading ">CONTACT US</h2>
                        <img src="../../../assets/img/logo.svg">
                        <div class="d-flex my-4">
                            <a target="_blank" href="mailto:Rimon.attalla@outlook.com" class="text-default me-3">
                                <img src="../../../assets/images/skype.svg" class="pe-2">
                                Skype
                            </a>
                            <a target="_blank" class="text-default"
                                href="https://api.whatsapp.com/send?phone=+61430 742 202">
                                <img src="../../../assets/images/whatsapp.svg" class="pe-2">
                                +61 430 742 202
                            </a>
                        </div>
                        <div class="d-flex my-4 contactInner">
                            <div class="inquiryCol">
                                <img src="../../../assets/images/call.svg" class="pe-2 social-icon">
                                <a href="tel:+611300709345" class="contactDiv text-default">+61-1300 709 345</a>
                                <!-- <a href="tel:+918054377604" class=" contactDiv text-default pl-lg-1">+91 8054377604</a> -->
                            </div>
                        </div>
                        <div class="d-flex">
                            <span class="d-flex">
                                <img src="../../../assets/images/location.svg" class="pe-2">
                                Melbourne VIC 3000, Australia
                            </span>
                        </div>
                    </div>
                    <div class="mapCol">
                        <div class="mt-5">
                            <agm-map [latitude]="selectedLat" [longitude]="selectedLng" [zoom]="zoom" class="map-size">
                                <agm-marker [latitude]="selectedLat" [longitude]="selectedLng"
                                    [markerDraggable]="false">
                                </agm-marker>
                                <agm-map-type-control>
                                    <button>Satellite</button>
                                    <button>RoadMap</button>
                                </agm-map-type-control>
                            </agm-map>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 animatedParent animateOnce">
                    <contact-all></contact-all>
                </div>
            </div>
        </div>
    </div>
</section>